<!--karthik-->
<div class="col-sm-12">
  <!--------------------------------------------------------------------------------------------------->
  <form #InvPrescription="ngForm">
    <h5 class="col-sm-5 card-header bg-success text-white"> Investigation Prescription </h5>

    <!--<div class="col-sm-12">
      <mat-panel-title class="text-title">
        Patient Details
      </mat-panel-title>
    </div>-->

    <!--<div class="col-sm-12">
      <div class="col-sm-9">
      </div>
      <div class="col-sm-2 mph-0">
        <button class="btn-text" (click)="Getformaccess()"><i class="fas fa-eye"></i> View Access</button>
      </div>
    </div>-->

      <!--<div class="col-sm-12 mt40">
        <mat-panel-title class="text-title">
          Prescription Details
        </mat-panel-title>
      </div>-->

    <div class="col-sm-12 borderline">

      <div class="col-sm-12 mph-0 mt40">
        <div class="row mph-0">
          <div class="col-sm-12 mph-0">
            <div class="col-sm-6 mph-0 pb20">
              <span class="uinborder">
                <strong>{{M_UIN}} / {{M_Name}} {{M_MiddleName}} {{M_LastName}} / {{M_Age}} / {{M_Gender}} </strong>
              </span>
              <button [disabled]="DisableSearch" (click)="Clicksch()" class="btn-text grab">
                <i class="fas fa-info-circle"> </i> Help
              </button>
            </div>
            <div class="col-sm-4 mph-0 f-r content-right pb20">
              <button class="btn-text" (click)="Getformaccess()"><i class="fas fa-eye"></i> View Access</button>
            </div>
          </div>
        </div>
      </div>



      <div class="col-sm-12 mt40">
        <div class="col-sm-2">
          <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input disabled [(ngModel)]="M_DatePicker2" name="DatePicker2" [min]="minDate2" [max]="maxDate2" matInput [matDatepicker]="picker2" placeholder="">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

        </div>

        <div class="col-sm-2">
          <mat-form-field appearance="outline">
            <mat-label>Icd Speciality</mat-label>
            <mat-select [(ngModel)]="icdspeciality" name="icdspeciality" (ngModelChange)="IcicdSpecsumbit(icdspeciality)">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let icdSpeciality of icdSpecialityname" [value]="icdSpeciality">{{icdSpeciality.Text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-sm-2">
          <mat-form-field appearance="outline">
            <mat-label>InvestigationDescription</mat-label>
            <mat-select [(ngModel)]="M_InvestigationDescription" multiple [disabled]="disabledsub" name="InvestigationDescription" (ngModelChange)="InvDescriptionAmt()">
              <mat-option *ngFor="let Engage of InvDescription" [value]="Engage">{{Engage.Text}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!--<button mat-button (click)="onAddinvdep()">
        <mat-icon data-toggle="tooltip" title="Add Investigation Description" class="grab">add_box</mat-icon>
      </button>-->
        </div>

        <div class="col-sm-1">
          <button [disabled]="DisableSearch" (click)="onAddinvdep()" class="btn-text grab">
            <i class="fas fa-info-circle" data-toggle="tooltip" title="Add Investigation Description"> </i> Help
          </button>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline">
            <mat-label>Remarks</mat-label>
            <textarea [(ngModel)]="M_Remarks" [disabled]="disabledsub" name="Remarks" placeholder="Remarks" matInput #message2 maxlength="250"></textarea>
            <mat-hint align="start"><strong>Max 250 characters</strong> </mat-hint>
            <mat-hint align="end"><strong>{{message2.value.length}} /250</strong></mat-hint>
          </mat-form-field>

        </div>
        <div class="col-sm-1">
          <button mat-button (click)="onAddItem()" [disabled]="disabledsub">
            <mat-icon data-toggle="tooltip" title="Add" class="grab">add_box</mat-icon>
          </button>
          <!--<button [disabled]="DisableSearch" (click)="onAddItem()" class="btn-text grab">
        <i class="fas fa-info-circle" data-toggle="tooltip" title="Add Row"> </i> Help
      </button>-->
        </div>

      </div>





      <div class="col-sm-12 tableoverflowheight " *ngIf="hiddentable">
        <div class="row">
          <table mat-table matSort [dataSource]="dataSource" class="custom-table withoutbackgroung search-table table-bordered">

            <ng-container matColumnDef="Sl.No">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl.No </th>
              <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="Speciality">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ICD Speciality </th>
              <td mat-cell *matCellDef="let element"> {{element.Specilaitytext}} </td>
            </ng-container>
            <ng-container matColumnDef="InvestigationID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Investigation Description </th>
              <td mat-cell *matCellDef="let element"> {{element.InvestigationD}} </td>
            </ng-container>
            <ng-container matColumnDef="Delete">
              <th mat-header-cell *matHeaderCellDef>Action </th>
              <td mat-cell *matCellDef="let element; let i = index;"> <mat-icon data-toggle="tooltip" title="Delete" class="grab" (click)="DeleteINV(element,i)">delete</mat-icon></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>




      <div class="col-sm-12 pb25">
        <div class="content-right sub-section btn-wrap">
          <button [disabled]="DisableOnSubmit" class="success btn btn-primary" (click)="OnSubmit(InvPrescription)">Submit</button>
          <button class="btn btn-warning-default" (click)="Cancel()"><strong>Cancel</strong></button>
          <button mat-button [disabled]="DisableReprint" (click)="Clicksch1()" class="btn btn-primary">Re print</button>
        </div>
      </div>
    </div>


      <!--////////////////pop-up//////////-->
      <div class="modal" role="dialog" [ngStyle]="{'display':modalpreview}">
        <div class="modal-dialog modal-lg" style="width:78%;padding-top:10px">
          <div class="modal-content" style="height:450px">
            <div class="modal-header" style="background-color:#51b8f2;color:white;">
              <button class="close" (click)="modalSuccesspreview()">&times;</button>
              <h5 class="modal-title" style="text-align:center">
                <strong>Previous Investigation Prescription Details</strong>
              </h5>
            </div>
            <div class="modal-body">

              <div class="row">

                <div class="col-sm-1"></div>
                <div class="col-sm-8" style="margin-top: 1%;margin-bottom: 2%;">

                  <span style="color:darkblue;font-size:17px;font-family:'Proxima Nova Semibold';border:1px solid gray;padding:10px;border-radius: 16px;">
                    <strong>{{M_UIN}} / {{M_Name}} {{M_MiddleName}} {{M_LastName}} / {{M_Age}} / {{M_Gender}} </strong>
                  </span>
                </div>




              </div>

              <div class="col-sm-12">
                <div class="row tableoverflowheight W-70P">
                  <table mat-table matSort [dataSource]="dataSource1" id="contentToConvert" class="custom-table withoutbackgroung search-table table-bordered" #contentToConvert>

                    <ng-container matColumnDef="Print">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Print </th>
                      <td mat-cell *matCellDef="let element">  <mat-icon style="font-size: 25px" (click)="PrintBN(element);" class="grab" data-toggle="Print">local_printshop</mat-icon> </td>
                    </ng-container>


                    <ng-container matColumnDef="Sl.No1">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl.No </th>
                      <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Date1">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date </th>
                      <td mat-cell *matCellDef="let element"> {{element.Dateofinvestigation1| date:"dd-MMM-y"}} </td>
                    </ng-container>

                    <ng-container matColumnDef="RefferedBy1">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Refered By </th>
                      <td mat-cell *matCellDef="let element"> {{element.PrescribedBy1}} </td>
                    </ng-container>


                    <ng-container matColumnDef="Remarks1">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </th>
                      <td mat-cell *matCellDef="let element"> {{element.Remarks1}} </td>
                    </ng-container>


                    <ng-container matColumnDef="IpId">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> IPID </th>
                      <td mat-cell *matCellDef="let element"> {{element.IPID}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns1;sticky:true"></tr>
                    <tr mat-row *matRowDef="let row;  let even = even;  columns: displayedColumns1;" [ngClass]="{gray: even}"></tr>

                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


</form>


  <!-------------------------------------Cancelpop_up------------------------------------------------------>

  <div class="modal" role="dialog" [ngStyle]="{'display':cancelblock}">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" >
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal" (click)="modalSuccessClosessss()">&times;</button>
         <h4 class="modal-title">Do You Want to Cancel ?</h4>
        </div>
      
        <div class="modal-footer">
          <button class="btn btn-danger" data-dismiss="modal" autofocus (click)="modalcloseOk()">No</button>
          <button type="reset" class="btn btn-success" data-dismiss="modal" (click)="modalSuccesssOk()">Yes</button>
        </div>
      </div>
    </div>
  </div>



  <!----------------------------------Print----------------------------------------------->
  <div id="section" style="display:none">
    <!--//////////////////////////////////////////////////////////////////////////////-->
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-6">
          <label style="font-size:16px"><strong>{{PCompnayname}}</strong> </label>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-7"> <label style="text-align:center;margin-left:28%"><strong>{{PAddress + ' '+ PAddress2 }}</strong></label></div>
        <div class="col-sm-3"></div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-7"> <label style="text-align:center;margin-left:1%"><strong>{{'Phone No:'+' '+ Pphone + ',' + ' ' + 'Website:' + ' ' + Pweb}}</strong></label></div>
        <div class="col-sm-1"></div>
      </div>
    </div>
    <!--///////////////////////////////////////////////////////////////////////////////-->
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4"> </div>
        <div class="col-sm-4">
          <label style="text-align:center">
            <strong>
              Investigation Prescription<br />Prescription Date : {{M_DatePicker2| date:"dd-MMM-y"}}
            </strong>
          </label>

        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <label><strong>Patient ID :</strong> {{M_UIN}}</label>
        </div>
        <div class="col-sm-4">
          <label><strong>Patient Name :</strong> {{M_Name}} {{M_MiddleName}} {{M_LastName}}</label>
        </div>
        <div class="col-sm-4">
          <label><strong>Age / Gender :</strong> {{M_Age}}/{{M_Gender}}</label>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <table align="center" style="border-left:3px solid#51b8f2;margin-top:-9px;font-size: 12px" class="table table-bordered">
        <thead>
          <tr>
            <th style="background-color:#F0F3F5;color:#8FA3B0;font-family:'Proxima Nova Semibold';font-size:14px;height:40px">Sl.No</th>
            <th style="background-color:#F0F3F5;color:#8FA3B0;font-family:'Proxima Nova Semibold';font-size:14px;height:40px">ICD Speciality</th>
            <th style="background-color:#F0F3F5;color:#8FA3B0;font-family:'Proxima Nova Semibold';font-size:14px;height:40px">Investigation Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of InvP; index as i">
            <td style="text-align:center">{{i+1}}</td>
            <td style="text-align:center">{{x.Specilaitytext}}</td>
            <td style="text-align:center">{{x.InvestigationD}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3">
          <label><strong>Remarks : {{M_Remarks}}</strong></label>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <label><strong>DoctorName : {{doctorname}}</strong></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <label><strong>RegistrationNumber : {{docotorid}}</strong></label>
        </div>
      </div>

    </div>



  </div>
  <!----------------------------------Print1----------------------------------------------->
  <div id="section1" style="display:none">

    <!--<div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-6">
          <label style="font-size:16px"><strong>{{commonService.data.P1Compnayname}}</strong> </label>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-6">
          <label>{{commonService.data.P1Address}},{{commonService.data.P1Address2}}</label>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"> <label>{{commonService.data.P1phone}}-{{commonService.data.P1web}}</label></div>
        <div class="col-sm-4"></div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><label style="text-align:center"></label></div>
        <div class="col-sm-4"></div>
      </div>
    </div>-->
    <!--//////////////////////////////////////////////////////////////////////////////-->
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-6">
          <label style="font-size:16px"><strong>{{P1Compnayname}}</strong> </label>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-7"> <label style="text-align:center;margin-left:28%"><strong>{{P1Address + ' '+ P1Address2 }}</strong></label></div>
        <div class="col-sm-3"></div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-7"> <label style="text-align:center;margin-left:1%"><strong>{{'Phone No:'+' '+ P1phone + ',' + ' ' + 'Website:' + ' ' + P1web}}</strong></label></div>
        <div class="col-sm-1"></div>
      </div>
    </div>
    <!--///////////////////////////////////////////////////////////////////////////////-->

    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <label style="text-align:center">
            <strong>
              Investigation Prescription<br />Prescription Date : {{M_DatePicker2| date:"dd-MMM-y"}}
            </strong>
          </label>

        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <label><strong>Patient ID :</strong> {{M_UIN}}</label>
        </div>
        <div class="col-sm-4">
          <label><strong>Patient Name :</strong> {{M_Name}} {{M_MiddleName}} {{M_LastName}}</label>
        </div>
        <div class="col-sm-4">
          <label><strong>Age / Gender :</strong> {{M_Age}}/{{M_Gender}}</label>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <table align="center" style="border-left:3px solid#51b8f2;margin-top:-9px;font-size: 12px" class="table table-bordered">
        <thead>
          <tr>
            <th style="text-align:center;background-color:#f0f5fa;color:gray">Sl.No</th>
            <th style="text-align:center;background-color:#f0f5fa;color:gray">Investigation Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of InvPre1; index as i">
            <td style="text-align:center">{{i+1}}</td>
            <td style="text-align:center">{{x.InvestigationID}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3">
          <label><strong>Remarks : {{M_Remarks}}</strong></label>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <label><strong>DoctorName : {{DRNAME}}</strong></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <label><strong>RegistrationNumber : {{DRID}}</strong></label>
        </div>
      </div>

    </div>



  </div>
  <!-----------------------------------Print Popup----------------------------------------->
  <div class="modal" role="dialog" [ngStyle]="{'display':printpopup1}">
    <div class="example-box" cdkDrag>
      <div class="modal-dialog modal-lg" style="width:20%">
        <div class="modal-content">

          <div class="modal-body">

            <p style="margin-left:70px">
              Do you want print
            </p>


            <div class="modal-footer">

              <button [disabled]="Disableprint" type="button" class="btn btn-primary" style="font-size:15px" (click)="print1()">Yes</button>
              <button type="button" id="theButton" class="btn btn-success" data-dismiss="modal" style="font-size:15px" (click)="printclose()" cdkFocusInitial>No</button>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  <!-------------------------------------Re-Print Popup----------------------------------->
  <div class="modal" role="dialog" [ngStyle]="{'display':printpopup}">
    <div class="example-box" cdkDrag>
      <div class="modal-dialog modal-lg" style="width:20%">
        <div class="modal-content">

          <div class="modal-body">

            <p style="margin-left:70px">
              Do you want print
            </p>


            <div class="modal-footer">

              <button type="button" class="btn btn-primary" style="font-size:15px" (click)="printreprint()">Yes</button>
              <button type="button" id="theButton" class="btn btn-success" data-dismiss="modal" style="font-size:15px" (click)="printclose1()" cdkFocusInitial>No</button>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

  <!--------------------------------------------------------------------------------------------------->
</div>


<!--<div class="modal" role="dialog" [ngStyle]="{'display':accesspopup}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="width: 400px;">
      <div class="modal-header">
        <h4 class="modal-title">Investigation Prescription - View Access</h4>
      </div>
      <div class="modal-body" style="height:40px;margin-top:-10px;">
        <table align="center" style="border-left:3px solid#51b8f2;font-family:'Proxima Nova';font-size:14px;" class="table table-bordered">
          <thead>
            <tr>
              <th style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center;height:40px">Add</th>
              <th style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center;height:40px">Edit</th>
              <th style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center;height:40px">Delete</th>
              <th style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center;height:40px">Export</th>
              <th style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center;height:40px">Print</th>

            </tr>
          </thead>
          <tbody>


            <tr *ngFor="let x of accessdata; index as i">
              <td style="text-align:center;"><mat-checkbox [(checked)]="x.Add" disabled></mat-checkbox></td>
              <td style="text-align:center;"><mat-checkbox [(checked)]="x.Edit" disabled></mat-checkbox></td>
              <td style="text-align:center;"><mat-checkbox [(checked)]="x.Delete" disabled></mat-checkbox></td>
              <td style="text-align:center;"><mat-checkbox [(checked)]="x.Export" disabled></mat-checkbox></td>
              <td style="text-align:center;"><mat-checkbox [(checked)]="x.Print" disabled></mat-checkbox></td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer" style="margin-top:20%">
        <button class="btn btn-success" data-dismiss="modal" autofocus (click)="modalcloseAccessOk()">Ok</button>
      </div>
    </div>
  </div>
</div>-->




<div class="modal cust-model" role="dialog" [ngStyle]="{'display':accesspopup}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="modalcloseAccessOk()">&times;</button>
        <h4 class="modal-title text-left">Investigation Prescription - View Access</h4>
      </div>
      <div class="modal-body">
        <table align="center" class="table custom-table">
          <thead>
            <tr>
              <th>Add</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>Export</th>
              <th>Print</th>

            </tr>
          </thead>
          <tbody>


            <tr *ngFor="let x of accessdata ; index as i">
              <td>
                <mat-checkbox [(checked)]="x.Add" disabled></mat-checkbox>
              </td>
              <td>
                <mat-checkbox [(checked)]="x.Edit" disabled></mat-checkbox>
              </td>
              <td>
                <mat-checkbox [(checked)]="x.Delete" disabled></mat-checkbox>
              </td>
              <td>
                <mat-checkbox [(checked)]="x.Export" disabled></mat-checkbox>
              </td>
              <td>
                <mat-checkbox [(checked)]="x.Print" disabled></mat-checkbox>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" autofocus (click)="modalcloseAccessOk()">Ok</button>
      </div>
    </div>
  </div>
</div>


<!--////////////////pop-up//////////-->
<div class="modal" role="dialog" [ngStyle]="{'display':invdepPopUp}">
  <div class="modal-dialog modal-lg" style="width:80%;padding-top:10px">
    <div class="modal-content" style="height:550px">
      <div class="modal-header">
        <button class="close" (click)="invdepPopUpClose()">&times;</button>
        <h5 class="card-header bg-success text-white">Investigation test master</h5>
      </div>
      <div class="modal-body">

        <div class="col-sm-12">
          <!--<div class="col-sm-12 mph-0">
            <div class="col-sm-10 mph-0">
            </div>
            <div class="col-sm-2 mph-0">
              <button class="f-r btn-text" (click)="Getformaccess1()"><i class="fas fa-eye"></i> View Access</button>
            </div>
          </div>-->
          <div class="row">
            <input #OLMID [hidden]="hiddenM_OLMID" [(ngModel)]="M_OLMID" name="OLMID" matInput placeholder="">
            <div class="col-sm-7">
              <div class="row">
                <div class="col-sm-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <input required [(ngModel)]="M_Slitlamp" name="Slitlamp" matInput placeholder="" maxlength="100">
                  </mat-form-field>
                  <!--<button class="grab" [disabled]="Disableonsearch" type="reset" mat-icon-button (click)="Help()" matTooltip="Help">
                    <mat-icon>search</mat-icon>
                  </button>-->
                </div>
                <div class="col-sm-2">
                  <button [disabled]="Disableonsearch" (click)="Help()" class="btn-text grab f-r">
                    <i class="fas fa-info-circle"> </i> Help
                  </button>
                </div>
                <div class="col-sm-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Amount</mat-label>
                    <input required [(ngModel)]="M_Amount" name="Amount" matInput placeholder="">
                  </mat-form-field>
                </div>
                <div class="col-sm-2" *ngIf="hiddenisActive">
                  <mat-form-field appearance="outline">
                    <mat-label>Is Active</mat-label>
                    <mat-select [(ngModel)]="M_IsActive" name="Active">
                      <mat-option>Select</mat-option>
                      <mat-option value="true">Yes</mat-option>
                      <mat-option value="false">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" >

                <!--<div class="col-sm-4"></div>
                <div class="col-sm-1" style="margin-left: -12%;" *ngIf="hiddenUpdate">
                  <button [disabled]="DisableonUpdate" class="success" (click)="UpdateclkINV()" mat-raised-button>Update</button>
                </div>
                <div class="col-sm-1" style="margin-left: -12%;" *ngIf="hiddenSubmit">
                  <button [disabled]="DisableonSubmit" class="success" (click)="onSubmitINV()" mat-raised-button>Submit</button>
                </div>
                <div class="col-sm-1" style="margin-left: 6%;">
                  <button type="button" class="btn btn-warning" style="font-size:15px;color:orange;background-color:white;" (click)="CancelINV()"><strong>Cancel</strong></button>
                </div>
                <div class="col-sm-1" style="margin-left: 9%;" *ngIf="hiddenDelete">
                  <button [disabled]="DisableonDelete" class="danger" (click)="DeleteclkINV()" mat-raised-button>Delete</button>
                </div>-->

                <div class="col-sm-12 pb25">
                  <div class="sub-section btn-wrap">
                    <button *ngIf="hiddenUpdate" [disabled]="DisableonUpdate" class="success btn btn-primary" (click)="UpdateclkINV()">Submit</button>
                    <button *ngIf="hiddenSubmit" [disabled]="DisableonSubmit" class="success btn btn-primary" (click)="onSubmitINV()">Submit</button>
                    <button class="btn btn-warning-default" (click)="CancelINV()"><strong>Cancel</strong></button>
                    <button *ngIf="hiddenDelete" [disabled]="DisableonDelete" class="danger btn-danger-default"
                            (click)="DeleteclkINV()" mat-raised-button>
                      Delete
                    </button>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-sm-5">
              <div class="row" [hidden]="OLMhidden">
                <div class="row">
                  <div class="col-sm-2">
                    <mat-form-field appearance="outline">
                      <mat-label>Search</mat-label>
                      <input (keyup)="applyFilter($event.target.value)" matInput placeholder="">
                    </mat-form-field>
                  </div>
                  </div>
                  <div class="row tableoverflowheight W-70P">
                    <table mat-table matSort [dataSource]="dataSourceinvdep" class="custom-table withoutbackgroung search-table table-bordered">
                      <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let element"><input type="checkbox" (click)="selectTypeOLM(element)" /></td>
                      </ng-container>
                      <ng-container matColumnDef="OLMID" *ngIf="hiddenOLMID">
                        <th mat-header-cell *matHeaderCellDef>S.No</th>
                        <td mat-cell *matCellDef="let i = index">{{i+1}}</td>
                      </ng-container>
                      <ng-container matColumnDef="Description">
                        <th mat-header-cell *matHeaderCellDef> Description</th>
                        <td mat-cell *matCellDef="let element">{{element.PDescription}} </td>
                      </ng-container>
                      <ng-container matColumnDef="Amountt">
                        <th mat-header-cell *matHeaderCellDef>Amount</th>
                        <td mat-cell *matCellDef="let element">{{element.PAmount| number : '1.2-2'}} </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsinvdep;sticky: true"></tr>
                      <tr mat-row *matRowDef="let element; columns: displayedColumnsinvdep"></tr>
                    </table>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--<div class="modal" role="dialog" [ngStyle]="{'display':accesspopup1}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="width: 400px;">
      <div class="modal-header">
        <h4 class="modal-title">Investigation test master - View Access</h4>
      </div>
      <div class="modal-body" style="height:40px;margin-top:-10px;">
        <table align="center" style="border-left:3px solid#51b8f2;font-family:'Proxima Nova';font-size:14px;" class="table table-bordered">
          <thead>
            <tr>
              <th style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center;height:40px">Add</th>
              <th style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center;height:40px">Edit</th>
              <th style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center;height:40px">Delete</th>
              <th style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center;height:40px">Export</th>
              <th style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center;height:40px">Print</th>

            </tr>
          </thead>
          <tbody>


            <tr *ngFor="let x of accessdata1; index as i">
              <td style="text-align:center;"><mat-checkbox [(checked)]="x.Add" disabled></mat-checkbox></td>
              <td style="text-align:center;"><mat-checkbox [(checked)]="x.Edit" disabled></mat-checkbox></td>
              <td style="text-align:center;"><mat-checkbox [(checked)]="x.Delete" disabled></mat-checkbox></td>
              <td style="text-align:center;"><mat-checkbox [(checked)]="x.Export" disabled></mat-checkbox></td>
              <td style="text-align:center;"><mat-checkbox [(checked)]="x.Print" disabled></mat-checkbox></td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer" style="margin-top:20%">
        <button class="btn btn-success" data-dismiss="modal" autofocus (click)="modalcloseAccessOk1()">Ok</button>
      </div>
    </div>
  </div>
</div>-->
