

<form #StoreMasterForm="ngForm">
  <div class="col-sm-12 borfiglau-0">

    <div class="card-header center">
      <h5>Store Master</h5>
    </div>

    <div class="col-sm-12 mph-0">
      <div class="row mph-0">
        <div class="col-sm-12 mph-0">
          <div class="col-sm-6 mph-0 pb20">
            <!--<span class="uinborder">
              <strong>{{Getuin}} / {{Getname}} / {{Getage}} / {{Getgender}}</strong>
            </span>-->
          </div>
          <div class="col-sm-2 mph-0 pb20">
            <!--<label>Allergy&nbsp;:<span class="uinborder">{{allergys}}</span></label>-->
          </div>
          <div class="col-sm-4 mph-0 f-r content-right pb20">
            <button class="btn-text" (click)="Getformaccess()"><i class="fas fa-eye"></i> View Access</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-8">
              <mat-form-field appearance="outline">
                <mat-label>Store Name</mat-label>
                <input [(ngModel)]="M_Store" matInput placeholder="Enter Store Name" name="Store" type="text" required>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <button (click)="Clickstore()" data-toggle="tooltip" title="Search Store" class="btn-text grab f-r">
                <i class="fas fa-info-circle"> </i> Help
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-4">

          <mat-form-field appearance="outline">
            <mat-label>Store Location</mat-label>
            <input [(ngModel)]="M_Location" matInput placeholder="Enter Store Location" name="Location" type="text" required>
          </mat-form-field>

        </div>

        <div class="col-sm-4">

          <mat-form-field appearance="outline">
            <mat-label>Store Keeper</mat-label>
            <input [(ngModel)]="M_Keeper" matInput placeholder="Enter Store Keeper" name="Keeper" type="text" (keypress)="nameField($event)">
          </mat-form-field>

        </div>

      </div>
      <div class="row">

        <div class="col-sm-4">
          <mat-form-field appearance="outline">
            <mat-label>Address1</mat-label>
            <textarea required [(ngModel)]="M_Address1" name="Address1" matInput placeholder="Enter Address1" maxlength="250" type="text"></textarea>
          </mat-form-field>
        </div>



        <div class="col-sm-4">

          <mat-form-field appearance="outline">
            <mat-label>Address2</mat-label>
            <textarea [(ngModel)]="M_Address2" name="Address2" matInput placeholder="Enter Address2" maxlength="250" type="text"></textarea>
          </mat-form-field>

        </div>



        <div class="col-sm-4" *ngIf="Activeis">

          <mat-form-field appearance="outline">
            <mat-label>Active</mat-label>
            <mat-select [(ngModel)]="IsActive" name="Active" required>
              <mat-option>Select</mat-option>
              <mat-option value="true">Yes</mat-option>
              <mat-option value="false">No</mat-option>
            </mat-select>
          </mat-form-field>

        </div>



      </div>
      <div class="row">

        <div class="col-sm-4" [hidden]="hiddenStoreID">

          <mat-form-field appearance="outline">
            <mat-label>StoreID</mat-label>
            <input #StoreID [(ngModel)]="M_StoreID" name="StoreID" matInput placeholder="">
          </mat-form-field>

        </div>



      </div>

    </div>

  </div>

  <div class="col-sm-12 m-3">
    <div class="col-sm-12 pb25">
      <div class="content-right sub-section btn-wrap">
        <button [disabled]="disupdate" *ngIf="hiddenDelete" class="success btn btn-danger" (click)="Deleteclk(StoreMasterForm,StoreID.value)">
          Delete
        </button>
        <button accesskey="c" type="button" class="btn btn-warning-default" (click)="CancelClk()"> Cancel </button>
        <button [disabled]="disSubmit" *ngIf="hiddenSubmit" class="success btn btn-primary" (click)="onSubmitStoremas(StoreMasterForm)">
          Submit
        </button>
        <button [disabled]="disupdate" *ngIf="hiddenUpdate" class="success btn btn-primary" (click)="Updateclk(StoreMasterForm,StoreID.value)">
          Submit
        </button>
      </div>
    </div>
  </div>

</form>


<div class="modal" role="dialog" [ngStyle]="{'display':cancelblock}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="modalSuccessClosessss()">&times;</button>
        <h4 class="modal-title">Do you want to cancel?</h4>
      </div>


      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" autofocus (click)="modalcloseOk()">No</button>
        <button type="reset" class="btn btn-success" data-dismiss="modal" (click)="modalSuccesssOk()">Yes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal cust-model" role="dialog" [ngStyle]="{'display':accesspopup}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="modalcloseAccessOk()">&times;</button>
        <h6 class="modal-title text-left">Store Master - View Access</h6>
      </div>
      <div class="modal-body">
        <table align="center" class="table custom-table">
          <thead>
            <tr>
              <th>Add</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>Export</th>
              <th>Print</th>

            </tr>
          </thead>
          <tbody>


            <tr *ngFor="let x of accessdata; index as i">
              <td>
                <mat-checkbox [(checked)]="x.Add" disabled></mat-checkbox>
              </td>
              <td>
                <mat-checkbox [(checked)]="x.Edit" disabled></mat-checkbox>
              </td>
              <td>
                <mat-checkbox [(checked)]="x.Delete" disabled></mat-checkbox>
              </td>
              <td>
                <mat-checkbox [(checked)]="x.Export" disabled></mat-checkbox>
              </td>
              <td>
                <mat-checkbox [(checked)]="x.Print" disabled></mat-checkbox>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" autofocus (click)="modalcloseAccessOk()">Ok</button>
      </div>
    </div>
  </div>
</div>
