<div class="col-sm-12">
  <div class="row">
    <h5 align="center" class="card-header">
      <b> Generic Medicine Master</b>
    </h5>
  </div>
</div>
<form #DrugGroupForm="ngForm" name="DrugGroupForm" (keydown.enter)="$event.preventDefault()" novalidate>
  <div class="col-sm-12 border-blue border-radius">
      <div class="col-sm-12">
        <div class="col-sm-2 ml-n2p f-r">
          <button type="button" class="btn-text f-r" (click)="Getformaccess()"><i class="fas fa-eye"></i> View Access</button>
        </div>
      </div>
      <div class="row mt-3p">
        <input #id name="ID" [(ngModel)]="M_ID" type="hidden">
        <div class="col-sm-3">
          <div class="col-sm-11 ml-n5p">
            <mat-form-field appearance="outline">
              <mat-label>Generic Name</mat-label>
              <input name="DrugGroup" [(ngModel)]="M_DrugGroup" autocomplete="off" matInput placeholder="Generic Name" maxlength="100" required>
            </mat-form-field>
          </div>
          <div class="col-sm-1 ml-n4p">
            <button type="button" (click)="SeachDrugGroup()" class="btn-text grab mt-2p ml-n5p">
              <i class="fas fa-info-circle"> </i> Help
            </button>
          </div>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline">
            <mat-label>Drug Form</mat-label>
            <mat-select [(ngModel)]="M_DrugForm" name="DrugGroupForm" required>
              <mat-option>Select</mat-option>
              <mat-option *ngFor="let GenericGroupForms of DrugForm" [value]="GenericGroupForms">{{GenericGroupForms.Text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline">
            <mat-label>Retest Critical Interval(In Days)</mat-label>
            <input name="M_RetestCriticalInterval" autocomplete="off" (keypress)="RestrictNegativeValues($event)" [(ngModel)]="M_RetestCriticalInterval" matInput placeholder="Retest Critical Interval(In Days)" maxlength="2" required>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline">
            <mat-label>Retest Interval(In Days)</mat-label>
            <input name="M_RetestInterval" [(ngModel)]="M_RetestInterval" autocomplete="off" (keypress)="RestrictNegativeValues($event)" matInput placeholder="Retest Interval(In Days)" maxlength="2" (keyup)="CheckRetestInterval(M_RetestCriticalInterval,M_RetestInterval)" required>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <mat-form-field appearance="outline">
            <mat-label>IsStepDown</mat-label>
            <mat-select [(ngModel)]="M_IsStepDown" placeholder="IsStepDown" name="M_IsStepDown" required>
              <mat-option value="true">Yes</mat-option>
              <mat-option value="false">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row m-4">
        <table class="custom-table withoutbackgroung search-table table-bordered position-sticky">
          <thead>
            <tr>
              <th>Side Effects</th>
              <th>Precaution</th>
              <th>Overdose</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div>
                  <mat-form-field appearance="outline">
                    <textarea #message1 maxlength="500" matInput placeholder="Side Effects" autocomplete="off" [(ngModel)]="M_SideEffects" name="M_SideEffects"></textarea>
                    <mat-hint align="start">Max 500 Character</mat-hint>
                    <mat-hint align="end">{{message1.value.length}}/500</mat-hint>
                  </mat-form-field>
                </div>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <textarea #message2 maxlength="500" matInput placeholder="Precautions" autocomplete="off" [(ngModel)]="M_Precautions" name="M_Precautions"></textarea>
                  <mat-hint align="start">Max 500 Character</mat-hint>
                  <mat-hint align="end">{{message2.value.length}}/500</mat-hint>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <textarea #message3 maxlength="500" matInput placeholder="Overdose" autocomplete="off" [(ngModel)]="M_Overdose" name="M_Overdose"></textarea>
                  <mat-hint align="start">Max 500 Character</mat-hint>
                  <mat-hint align="end">{{message3.value.length}}/500</mat-hint>
                </mat-form-field>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  <div class="row pb25">
    <div class="col-sm-3 mt-1p f-r">
      <div class="content-right sub-section btn-wrap">
        <button type="button" class="btn btn-warning-default" (click)="Cancel()"><strong>Cancel</strong></button>
        <button *ngIf="!hideSubmit" [disabled]="isNextDelete" type="button" class="danger btn-danger-default " (click)="Delete(id.value)"><strong>Delete</strong></button>
        <button *ngIf="!hideSubmit" class="success btn btn-primary" [disabled]="isNextupdate" (click)="UpdateDrugGroup(DrugGroupForm,id.value)">Submit</button>
        <button *ngIf="hideSubmit" class="success btn btn-primary" [disabled]="isNextButton" (click)="AddDrugGroup(DrugGroupForm)"> Submit </button>
      </div>
    </div>
  </div>
</form>

<!----*Cancel Popup*---->
<div class="modal" role="dialog" [ngStyle]="{'display':cancelblock}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="modalclose()">&times;</button>
        <h6 class="modal-title">Do You Want to Cancel ?</h6>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" autofocus (click)="modalclose()">No</button>
        <button type="reset" class="btn btn-success" data-dismiss="modal" (click)="modalYes()">Yes</button>
      </div>
    </div>
  </div>
</div>
<!----*Access Popup*---->
<div class="modal" role="dialog" [ngStyle]="{'display':accesspopup}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Generic Medicine Master - View Access</h4>
      </div>
      <div class="modal-body">
        <table align="center" class=" table custom-table">
          <thead>
            <tr>
              <th>Add</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>Export</th>
              <th>Print</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of accessdata; index as i">
              <td><mat-checkbox [(checked)]="x.Add" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Edit" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Delete" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Export" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Print" disabled></mat-checkbox></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" autofocus (click)="modalcloseAccessOk()">Ok</button>
      </div>
    </div>
  </div>
</div>
