<div class="col-sm-12">
  <div class="row">
    <h5 align="center" class="card-header bg-success text-white rounded-top">
      <b>Inter Department Transfer</b>
    </h5>
  </div>
</div>

<form #InterDeptTransfer="ngForm" name="InterDeptTransfer">
  <div class="col-sm-12 border-blue border-radius">
    <div class="row">
      <div class="col-sm-2 mph-0 f-r content-right pb20">
        <button class="btn-text" (click)="Getformaccess()"><i class="fas fa-eye"></i> View Access</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="col-sm-10">
          <mat-form-field appearance="outline">
            <mat-label>Stock Transfer No</mat-label>
            <input [(ngModel)]="Trf_No" name="Stock_Trf_No" matInput placeholder="Stock Transfer No" disabled>
          </mat-form-field>
        </div>
        <div class="col-sm-1">
          <mat-icon (click)="TransferSearch()" class="cursor" data-toggle="tooltip" title="InterDepartment Transfered Details">search</mat-icon>
        </div>
      </div>
      <div class="col-sm-2">
        <mat-form-field appearance="outline">
          <mat-label>Date</mat-label>
          <input [(ngModel)]="Trf_Date" name="Stock_Trf_Date" matInput [matDatepicker]="picker" placeholder="Stock Transfer Date" disabled>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-5"></div>
    </div>
    <div class="col-sm-12 ml-2p mt-2p">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label>Source</mat-label>
            </div>
          </div>
          <div class="col-sm-1">
            <mat-label>:</mat-label>
          </div>
          <div class="col-sm-6" style="margin-top: -3%;" *ngIf="!GetTable2">
            <mat-form-field appearance="outline">
              <mat-label>Store Name</mat-label>
              <mat-select [(ngModel)]="FSupplier" name="FSupplier" (ngModelChange)="Supplier()" required>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let Supplier of Suppliername" [value]="Supplier.Value">{{Supplier.Text}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-6" *ngIf="GetTable2">
            <mat-label>
              {{FSupplier1}}
            </mat-label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label>
                Address1
              </mat-label>
            </div>
          </div>
          <div class="col-sm-1">
            <mat-label>:</mat-label>
          </div>
          <div class="col-sm-6">
            <mat-label>{{FAddress1}}</mat-label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label>
                Address2
              </mat-label>
            </div>
          </div>
          <div class="col-sm-1">
            <mat-label>:</mat-label>
          </div>
          <div class="col-sm-6">
            <mat-label>{{FAddress2}}</mat-label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label>
                Phone No
              </mat-label>
            </div>
          </div>
          <div class="col-sm-1">
            <mat-label>:</mat-label>
          </div>
          <div class="col-sm-6">
            <mat-label>{{FPhoneNo}}</mat-label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label>Location&nbsp;/&nbsp;City</mat-label>
            </div>
          </div>
          <div class="col-sm-1">
            <mat-label>:</mat-label>
          </div>
          <div class="col-sm-6">
            <mat-label>{{FLocation}}</mat-label>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label>Destination</mat-label>
            </div>
          </div>
          <div class="col-sm-1">
            <mat-label>:</mat-label>
          </div>
          <div class="col-sm-6" style="margin-top: -4%;" *ngIf="!GetTable2">
            <mat-form-field appearance="outline">
              <mat-label>Store Name</mat-label>
              <mat-select [(ngModel)]="DSupplier" name="DSupplier" (ngModelChange)="Supplier2()" [disabled]="Supplier1" required>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let Receiver of ReceiverName" [value]="Receiver.Value">{{Receiver.Text}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-6" *ngIf="GetTable2">
            <mat-label>
              {{DSupplier1}}
            </mat-label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label>
                Address1
              </mat-label>
            </div>
          </div>
          <div class="col-sm-1">
            <mat-label>:</mat-label>
          </div>
          <div class="col-sm-6">
            <mat-label>{{DAddress1}}</mat-label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label>
                Address2
              </mat-label>
            </div>
          </div>
          <div class="col-sm-1">
            <mat-label>:</mat-label>
          </div>
          <div class="col-sm-6">
            <mat-label>{{DAddress2}}</mat-label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label>
                Phone No
              </mat-label>
            </div>
          </div>
          <div class="col-sm-1">
            <mat-label>:</mat-label>
          </div>
          <div class="col-sm-6">
            <mat-label>{{DPhoneNo}}</mat-label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label>Location&nbsp;/&nbsp;City</mat-label>
            </div>
          </div>
          <div class="col-sm-1">
            <mat-label>:</mat-label>
          </div>
          <div class="col-sm-6">
            <mat-label>{{DLocation}}</mat-label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mt-2p card mb-3 border-none">
      <h5 class="card-header bg-success text-white">
        Item Details
        <label class="labelfloat">
          <button *ngIf="AddDrugIcon" (click)="AddDrug()" matTooltip="Add Items" class="btn btn-primary-default btn-Pdf mlr10 buttonsfloat">Add Items</button>
        </label>
      </h5>
    </div>
    <div class="col-sm-12 heightAuto-200px position-sticky" *ngIf="GetTable1">
      <table mat-table [dataSource]="dataSource" class="custom-table withoutbackgroung search-table table-bordered">
        <ng-container matColumnDef="SerialNo">
          <th mat-header-cell *matHeaderCellDef>S.No</th>
          <td mat-cell *matCellDef="let j = index"> {{(j+1)}} </td>
        </ng-container>
        <ng-container matColumnDef="Brand">
          <th mat-header-cell *matHeaderCellDef>Item Description </th>
          <td mat-cell *matCellDef="let element;let id = index" contenteditable="false">

            <!--<input matInput value="{{element.Brand}}" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="DrugDetailsSearch($event,id);">
              <mat-option style="width:90%" *ngFor="let Brand of DrugNameList" [value]="Brand">
                {{Brand.Text}}
              </mat-option>
            </mat-autocomplete>-->


            <mat-form-field appearance="outline">
              <mat-select value="{{element.ID}}" (selectionChange)="DrugDetailsSearch($event,id)">
                <input matInput #inputdrug class="search" (input)="Filterdatainputdrug($event.target.value)" autocomplete="off">
                <mat-option *ngFor="let DrugName of DrugNameList" [value]="DrugName.Value">{{DrugName.Text}}</mat-option>
              </mat-select>
            </mat-form-field>


          </td>
        </ng-container>
        <ng-container matColumnDef="DrugGroup">
          <th mat-header-cell *matHeaderCellDef> Generic Name </th>
          <td mat-cell *matCellDef="let element"> {{element.GenericName}} </td>
        </ng-container>
        <ng-container matColumnDef="UOM">
          <th mat-header-cell *matHeaderCellDef> UOM </th>
          <td mat-cell *matCellDef="let element"> {{element.UOM}} </td>
        </ng-container>
        <ng-container matColumnDef="Avlblqty">
          <th mat-header-cell *matHeaderCellDef>Avlbl qty</th>
          <td mat-cell *matCellDef="let element;let id = index"> {{element.AvailQuantity}} </td>
        </ng-container>
        <ng-container matColumnDef="Quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element;let id = index" contenteditable="true" (keypress)="RestrictNegativeValues($event);" (keyup)="changeValue(id,'Quantity',$event);"> {{element.Quantity}} </td>
        </ng-container>
        <ng-container matColumnDef="Delete">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element;let i = index;">
            <button mat-icon-button style="margin-left: 39%;">
              <mat-icon data-toggle="tooltip" title="Batch Details" class="grab" (click)="element.IsSerial == true ? SerialList(element,i): element.IsSerial == null ? null : BatchList(element,i)">create</mat-icon>
              <mat-icon data-toggle="tooltip" title="Delete" [disabled]="element.IsSerial == null" (click)="DropDrug(element,i)" style="margin-left: 13%;">delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
        <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
      </table>
    </div>
    <div class="col-sm-12 heightAuto-200px position-sticky" *ngIf="GetTable2">
      <table mat-table [dataSource]="dataSource3" class="custom-table withoutbackgroung search-table table-bordered">
        <ng-container matColumnDef="SerialNo">
          <th mat-header-cell *matHeaderCellDef>S.No</th>
          <td mat-cell *matCellDef="let j = index"> {{(j+1)}} </td>
        </ng-container>
        <ng-container matColumnDef="Brand">
          <th mat-header-cell *matHeaderCellDef> Brand </th>
          <td mat-cell *matCellDef="let element"> {{element.Brand}} </td>
        </ng-container>
        <ng-container matColumnDef="DrugGroup">
          <th mat-header-cell *matHeaderCellDef> Generic Name </th>
          <td mat-cell *matCellDef="let element"> {{element.DrugGroup}} </td>
        </ng-container>
        <ng-container matColumnDef="UOM">
          <th mat-header-cell *matHeaderCellDef> UOM </th>
          <td mat-cell *matCellDef="let element"> {{element.UOM}} </td>
        </ng-container>
        <ng-container matColumnDef="Quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
        </ng-container>
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element;let i = index;">
            <button mat-icon-button  [disabled]="element.IsSerial == null">
              <mat-icon data-toggle="tooltip" title="Batch Details" class="grab" (click)="element.IsSerial == true ? GivenSerialList(element,i): element.IsSerial == null ? null : GivenBatchList(element,i)">create</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns3;sticky:true"></tr>
        <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns3;" [ngClass]="{gray: even}"></tr>
      </table>
    </div>
  </div>
  <div class="col-sm-12 m-3">
    <div class="col-sm-12 pb25">
      <div class="col-sm-4  sub-section btn-wrap f-r">
        <button type="button" class="btn btn-warning-default" (click)="Cancel()"><strong>Cancel</strong></button>
        <button type="submit" *ngIf="!GetTable2" [disabled]="isNextButton" (click)="onSubmit(InterDeptTransfer)" class="success btn btn-primary">Submit</button>
        <button type="button" *ngIf="GetTable2" [disabled]="isNextPrint" (click)="Print()" class="success btn btn-primary">Print</button>
      </div>
    </div>
  </div>
  <!--<div class="col-sm-12">
    <div class="col-sm-5"></div>
    <div class="col-sm-4">
      <button *ngIf="!GetTable2" style="font-size:15px;margin-right:2%" [disabled]="isNextButton" (click)="onSubmit(InterDeptTransfer)" class="btn btn-success">Submit</button>
      <button *ngIf="GetTable2" style="font-size:15px;margin-right:2%" [disabled]="isNextPrint" (click)="Print()" class="btn btn-success">Print</button>
      <button style="font-size:15px;" (click)="Cancel()" class="btn btn-danger">Cancel</button>
    </div>
    <div class="col-sm-3"></div>
  </div>-->
</form>





<!--Batch Details Pop up-->
<!--<div class="modal" role="dialog" [ngStyle]="{'display':BatchInfo}" style="height:500px;margin-top:-35px;">
  <div class="modal-dialog modal-lg" style="width:88%;padding-top:10px;padding-left:290px;margin-left:-2%">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#51b8f2;color:white;">
        <button type="button" class="close" data-dismiss="modal" (click)="BatchInfoClose()">&times;</button>
        <h5 class="modal-title" style="text-align:center">
          <strong>Batch Details</strong>
        </h5>
      </div>
      <div class="modal-body">
        <div style="overflow:auto; height:300px">
          <div class="col-sm-12">
            <table mat-table matSort [dataSource]="dataSource1" class="table  TDt">
              <ng-container matColumnDef="DrugId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px">Drug</th>
                <td mat-cell *matCellDef="let element;let id = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:13px"> {{element.DrugId}} </td>
              </ng-container>
              <ng-container matColumnDef="itemBatchNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px">Batch No</th>
                <td mat-cell *matCellDef="let element;let id = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:13px"> {{element.itemBatchNo}} </td>
              </ng-container>
              <ng-container matColumnDef="GoingToIssue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px">Qty Taken From Batch</th>
                <td mat-cell *matCellDef="let element;let id = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:13px"> {{element.GoingToIssue}} </td>
              </ng-container>
              <ng-container matColumnDef="balanceQty">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px">Balance Qty</th>
                <td mat-cell *matCellDef="let element;let id = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:13px"> {{element.balanceQty}} </td>
              </ng-container>
              <ng-container matColumnDef="ExpiryDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px">Expiry Date</th>
                <td mat-cell *matCellDef="let element;let id = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:13px"> {{element.ExpiryDate| date:'dd-MMM-y'}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns1;sticky:false"></tr>
              <tr mat-row *matRowDef="let row;  let even = even;  columns: displayedColumns1;" [ngClass]="{gray: even}"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!--Inter-Department Transfer Pop up-->
<div class="modal" role="dialog" [ngStyle]="{'display':SearchInfo}">
  <div class="modal-dialog modal-lg width-90p pt15 ml-n2p padding-lef15p">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="SearchInfoClose()">&times;</button>
        <h6 class="modal-title">
          <strong>Inter-Department Transfer</strong>
        </h6>
      </div>
      <div class="modal-body">
        <div class="row heightAuto-300px position-sticky">
          <table mat-table [dataSource]="dataSource2" class="custom-table withoutbackgroung search-table table-bordered">
            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element; let i = index;"> <mat-icon data-toggle="tooltip" title="View Details" class="cursor" (click)="selecttype(element)">touch_app</mat-icon></td>
            </ng-container>
            <ng-container matColumnDef="StockTransferNo">
              <th mat-header-cell *matHeaderCellDef>StockTransferNo</th>
              <td mat-cell *matCellDef="let element;let id = index;"> {{element.stockTransNo}} </td>
            </ng-container>
            <ng-container matColumnDef="Date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let element;let id = index;"> {{element.Date| date:'dd-MMM-y'}} </td>
            </ng-container>
            <ng-container matColumnDef="FromStore">
              <th mat-header-cell *matHeaderCellDef>From Store</th>
              <td mat-cell *matCellDef="let element;let id = index;"> {{element.FromStore}} </td>
            </ng-container>
            <ng-container matColumnDef="ToStore">
              <th mat-header-cell *matHeaderCellDef>To Store</th>
              <td mat-cell *matCellDef="let element;let id = index;"> {{element.ToStore}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns2;sticky:false"></tr>
            <tr mat-row *matRowDef="let row;  let even = even; let element; columns: displayedColumns2;" [ngClass]="{gray: even}"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<div id="section" style="display:none">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-6">
        <label style="font-size:16px"><strong>KLARITI EYE CARE HOSPITAL</strong> </label>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8"> <label> No.115 Lakshmanaswamy salai, Sector 1, KK Nagar, CHENNAI-600078, TAMILNADU</label></div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"> <label>Tel-044-4205999,- www.klaritieyecare.com</label></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"><label style="text-align:center"></label></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-6">
        <label style="font-size:16px"><strong>Inter Department Transfer</strong> </label>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <label><strong>Stock Transfer No :</strong></label>
        </div>
        <div class="row">
          <label><strong>Date :</strong></label>
        </div>
      </div>
    </div>

      <div class="col-sm-12">
        <div class="col-sm-6">
          <div class="row">
            <div class="row">
              <label><strong>Supplier :</strong></label>
            </div>
            <div class="row">
              <label><strong>Address :</strong></label>
            </div>
            <div class="row">
              <label><strong>Phone Number :</strong></label>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="row">
              <label><strong>Receiver :</strong></label>
            </div>
            <div class="row">
              <label><strong>Address :</strong></label>
            </div>
            <div class="row">
              <label><strong>Phone Number :</strong></label>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>-->
<!--Print-->
<div id="section" style="display:none">
  <<div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-6">
        <label style="font-size:16px"><strong>{{CompanyName}}</strong> </label>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-7"> <label style="text-align:center;margin-left:28%"><strong>{{CompanyAddress1 + ' '+ CompanyAddress2 + ' '+ CompanyAddress3}}</strong></label></div>
      <div class="col-sm-3"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-7"> <label style="text-align:center;margin-left:1%"><strong>{{'Phone No:'+' '+ CompanyPhone1 + ',' + ' ' + 'Website:' + ' ' + CompanyWebsite}}</strong></label></div>
      <div class="col-sm-1"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"><label style="text-align:center"></label></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"><label style="text-align:center"><strong>Inter Department Transfer</strong></label></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3">
        <div class="row">
          <label><strong>Stock Transfer No </strong>:&nbsp;{{Trf_No}}</label>
        </div>
        <div class="row">
          <label><strong> Date </strong>  &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; :&nbsp; {{Trf_Date | date:"dd-MMM-y"}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3">
        <div class="row">
          <label><strong>Supplier</strong> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;:&nbsp;{{FSupplier1}}</label>
        </div>
        <div class="row">
          <label><strong>Address</strong>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;:&nbsp;{{FAddress1}}</label>
        </div>
        <div class="row">
          <label><strong>Phone No</strong>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;:&nbsp;{{FPhoneNo}}</label>
        </div>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <div class="row">
          <label><strong>Receiver : </strong>{{DSupplier1}}</label>
        </div>
        <div class="row">
          <label><strong>Address : </strong>{{DAddress1}}</label>
        </div>
        <div class="row">
          <label><strong>Phone No : </strong>{{DPhoneNo}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12" style="margin-top:2%;margin-left:-1%">
    <div class="col-sm-3">
      <strong>Item Details</strong>
    </div>
  </div>
  <div class="col-sm-12" style="margin-top:2%">
    <table align="center" class="table table-bordered">
      <thead>
        <tr>
          <th style="text-align:center;background-color:#f0f5fa;color:gray">Sl.No</th>
          <th style="text-align:center;background-color:#f0f5fa;color:gray">Brand</th>
          <th style="text-align:center;background-color:#f0f5fa;color:gray">Generic Name</th>
          <th style="text-align:center;background-color:#f0f5fa;color:gray">UOM</th>
          <th style="text-align:center;background-color:#f0f5fa;color:gray">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of printTable; index as i">
          <td style="text-align:center">{{i+1}}</td>
          <td style="text-align:center">{{x.Brand}}</td>
          <td style="text-align:center">{{x.DrugGroup}}</td>
          <td style="text-align:center">{{x.UOM}}</td>
          <td style="text-align:center">{{x.Quantity}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-12" style="margin-top:2%">
    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-6"> </div>
    </div>
  </div>
</div>

<div id="section1" style="display:none">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-6">
        <label style="font-size:16px"><strong>{{CompanyName}}</strong> </label>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-7"> <label style="text-align:center;margin-left:28%"><strong>{{CompanyAddress1 + ' '+ CompanyAddress2 + ' '+ CompanyAddress3}}</strong></label></div>
      <div class="col-sm-3"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-7"> <label style="text-align:center;margin-left:1%"><strong>{{'Phone No:'+' '+ CompanyPhone1 + ',' + ' ' + 'Website:' + ' ' + CompanyWebsite}}</strong></label></div>
      <div class="col-sm-1"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"><label style="text-align:center"></label></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"><label style="text-align:center"><strong>Inter Department Transfer</strong></label></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3">
        <div class="row">
          <label><strong>Stock Transfer No </strong>:&nbsp;{{Trf_No1}}</label>
        </div>
        <div class="row">
          <label><strong> Date </strong>  &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; :&nbsp; {{Trf_Date1 | date:"dd-MMM-y"}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3">
        <div class="row">
          <label><strong>Supplier</strong> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;:&nbsp;{{FSupplier11}}</label>
        </div>
        <div class="row">
          <label><strong>Address</strong>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;:&nbsp;{{FAddress11}}</label>
        </div>
        <div class="row">
          <label><strong>Phone No</strong>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;:&nbsp;{{FPhoneNo1}}</label>
        </div>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <div class="row">
          <label><strong>Receiver : </strong>{{DSupplier11}}</label>
        </div>
        <div class="row">
          <label><strong>Address : </strong>{{DAddress11}}</label>
        </div>
        <div class="row">
          <label><strong>Phone No : </strong>{{DPhoneNo1}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12" style="margin-top:2%;margin-left:-1%">
    <div class="col-sm-3">
      <strong>Item Details</strong>
    </div>
  </div>
  <div class="col-sm-12" style="margin-top:2%">
    <table align="center" class="table table-bordered">
      <thead>
        <tr>
          <th style="text-align:center;background-color:#f0f5fa;color:gray">Sl.No</th>
          <th style="text-align:center;background-color:#f0f5fa;color:gray">Brand</th>
          <th style="text-align:center;background-color:#f0f5fa;color:gray">Generic Name</th>
          <th style="text-align:center;background-color:#f0f5fa;color:gray">UOM</th>
          <th style="text-align:center;background-color:#f0f5fa;color:gray">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of printTable1; index as i">
          <td style="text-align:center">{{i+1}}</td>
          <td style="text-align:center">{{x.Brand}}</td>
          <td style="text-align:center">{{x.DrugGroup}}</td>
          <td style="text-align:center">{{x.UOM}}</td>
          <td style="text-align:center">{{x.Quantity}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-12" style="margin-top:2%">
    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-6"> </div>
    </div>
  </div>
</div>

<!--Out Of Stock Medicines-->
<div class="modal" role="dialog" [ngStyle]="{'display':modalmed}">
  <div class="modal-dialog modal-lg width-60p pt15 ml-n2p padding-lef15p">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="modalSuccessmed()">&times;</button>
        <h6 class="modal-title">
          <strong>Out Of Stock Medicines</strong>
        </h6>
      </div>
      <div class="modal-body">
        <div class="row heightAuto-300px position-sticky">
          <table class="custom-table withoutbackgroung search-table table-bordered">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>InStock</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of druglist; index as i">
                <td>{{i+1}}</td>
                <td>{{item.DrugName}}</td>
                <td>{{item.BalanceQuantity}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" role="dialog" [ngStyle]="{'display':Submitprint}">
  <div class="example-box">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-11">
                <h6 class="modal-title">Information</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-10">
                <p><strong> Do you want to Print ?</strong></p>
              </div>
              <div class="col-sm-1">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="Print1()" class="btn btn-primary">Yes</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="printclose()" cdkFocusInitial>No</button>
        </div>
      </div>
    </div>
  </div>
</div>



<!--/* Batch Popup */-->
<!--<div class="modal" role="dialog" [ngStyle]="{'display':BatchModel}" style="width:106%">
  <div class="modal-dialog modal-lg" style="width:88%;padding-top:10px;padding-left:290px;margin-right: 21%;">
    <div class="modal-content" style="height:500px">
      <div class="modal-header" style="background-color:#51b8f2;color:white;">
        <button type="button" class="close" data-dismiss="modal" (click)="BatchModelClose()">&times;</button>
        <h5 class="modal-title" style="text-align:center">
          <strong>Available Batch List</strong>
        </h5>
      </div>
      <div class="modal-body">

        <div class="col-sm-12" style="border: 2px solid #51b8f2; border-radius: 8px;padding: 5px;">
          <div class="col-sm-4">
            <label class="col-sm-4" style="margin-left: -13px;width: 78px;"><strong>Brand :</strong></label>
            <p class="col-sm-6">{{PopBrand}}</p>
          </div>
          <div class="col-sm-4">
            <label class="col-sm-6"><strong>Requested Qty :</strong></label>
            <p class="col-sm-6">{{PopReqqty}}</p>
          </div>
          <div class="col-sm-4">
            <label class="col-sm-6"><strong>Selected Qty :</strong></label>
            <p class="col-sm-6">{{PopSelectedQty}}</p>
          </div>
        </div>

        <div class="col-sm-12" style="height: 200px;overflow: auto;margin-top: 10px;">
          <table mat-table matSort [dataSource]="BatchDetailsSource" class="mat-elevation-z8 table-bordered" style="width: 100%;">
            <ng-container matColumnDef="BatchNo">
              <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;text-align: center;">Batch No</th>
              <td mat-cell style="color:#212121;font-family:'Proxima Nova Semibold';font-size:13px;text-align: center;" *matCellDef="let element" data-toggle="tooltip" title="Select">{{element.BatchNo}}</td>
            </ng-container>
            <ng-container matColumnDef="BalanceQty">
              <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;text-align: center;width: 8%;">Balance qty</th>
              <td mat-cell style="color:#212121;font-family:'Proxima Nova Semibold';font-size:13px;text-align:center" *matCellDef="let element" data-toggle="tooltip" title="Select">{{element.BalanceQty}} </td>
            </ng-container>
            <ng-container matColumnDef="ExpiryDate">
              <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;text-align: center;width: 12%;">Expiry date</th>
              <td mat-cell style="color:#212121;font-family:'Proxima Nova Semibold';font-size:13px;text-align:center" *matCellDef="let element" data-toggle="tooltip" title="Select">{{element.ExpiryDate | date:'dd-MMM-y'}} </td>
            </ng-container>
            <ng-container matColumnDef="RetestIntervalDate">
              <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;text-align: center;width: 12%;">Re-test Interval date</th>
              <td mat-cell style="color:#212121;font-family:'Proxima Nova Semibold';font-size:13px;text-align:center" *matCellDef="let element" data-toggle="tooltip" title="Select">{{element.RetestIntervalDate | date:'dd-MMM-y'}} </td>
            </ng-container>
            <ng-container matColumnDef="CriticalIntervalDate">
              <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;text-align: center;width: 11%;">Critical Interval date</th>
              <td mat-cell style="color:#212121;font-family:'Proxima Nova Semibold';font-size:13px;text-align:center" *matCellDef="let element" data-toggle="tooltip" title="Select">{{element.CriticalIntervalDate | date:'dd-MMM-y'}} </td>
            </ng-container>
            <ng-container matColumnDef="ExpireInDays">
              <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;text-align: center;width: 8%;">Expiry in days</th>
              <td mat-cell style="color:#212121;font-family:'Proxima Nova Semibold';font-size:13px;text-align:center" *matCellDef="let element" data-toggle="tooltip" title="Select">{{element.ExpireInDays}} </td>
            </ng-container>
            <ng-container matColumnDef="RetestIntervalDays">
              <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;text-align: center;width: 9%;">Bal Re-test interval days in hand</th>
              <td mat-cell style="color:#212121;font-family:'Proxima Nova Semibold';font-size:13px;text-align:center" *matCellDef="let element" data-toggle="tooltip" title="Select">{{element.RetestIntervalDays}} </td>
            </ng-container>
            <ng-container matColumnDef="CriticalIntervalDay">
              <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;text-align: center;width: 10%;">Bal Critical interval days in hand</th>
              <td mat-cell style="color:#212121;font-family:'Proxima Nova Semibold';font-size:13px;text-align:center" *matCellDef="let element" data-toggle="tooltip" title="Select">{{element.CriticalIntervalDay}} </td>
            </ng-container>
            <ng-container matColumnDef="TotalQty">
              <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;text-align: center;">Total qty</th>
              <td mat-cell style="color:#212121;font-family:'Proxima Nova Semibold';font-size:13px;text-align:center" *matCellDef="let element" data-toggle="tooltip" title="Select">{{element.TotalQty}} </td>
            </ng-container>
            <ng-container matColumnDef="QtyTaken">
              <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;text-align: center;">Issue qty</th>
              <td mat-cell contenteditable="true" *matCellDef="let element; let i = index;" (click)="myFunction(element)" (blur)="alertHide()" (keypress)="RestrictNegativeValues($event)" (keyup)="changeValue1(i,'QtyTaken',$event,element);checkingTableQty(i,'QtyTaken',$event,element)" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:13px;text-align:center" data-toggle="tooltip" title="Select">{{element.QtyTaken}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="BatchDetailsCoulmns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row; let element;   let even = even;columns: BatchDetailsCoulmns;" [ngClass]="{gray: even}"></tr>
          </table>
        </div>

        <div class="col-sm-12" *ngIf="alertInfo">
          <div class="col-sm-1"></div>
          <div class="col-sm-10" style="margin-left: 5%">
            <p style="font-size: 14px;">
              <span style="color:darkred;">Note</span>: <br /> i) This batch  {{alertBatchNo}}   can be issued till {{AlertRetestCriticalIntervalDate | date:'dd-MMM-y'}}  for {{AlertCriticalIntervalDays}} days,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
              ii) This batch no. will not be shown for issual from Re-test critical date {{AlertRetestCriticalIntervalDate | date:'dd-MMM-y'}} till the expiry date {{AlertExpDate | date:'dd-MMM-y'}}
            </p>
          </div>
          <div class="col-sm-1"></div>
        </div>


        <div class="col-sm-12" style="margin-left: 31%;margin-top: 6%;">
          <div class="col-sm-1" style="margin-left: 5%">
            <button class="success" mat-raised-button (click)="BatchQtyCheck()">Ok</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>-->

<!--/* Batch Popup */-->
<div class="modal" role="dialog" [ngStyle]="{'display':BatchModel}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="BatchModelClose()">&times;</button>
        <h6 class="modal-title text-center">
          <strong>Available Batch List</strong>
        </h6>
      </div>
      <div class="modal-body">
        <div class="row border-blue border-radius Padding-5px">
          <div class="col-sm-4">
            <div class="col-sm-4">
              <label><strong>Brand :</strong></label>
            </div>
            <div class="col-sm-6">
              <p>{{PopBrand}}</p>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="col-sm-6"><strong>Requested Qty :</strong></label>
            <p class="col-sm-6">{{PopReqqty}}</p>
          </div>
          <div class="col-sm-4">
            <label class="col-sm-6"><strong>Selected Qty :</strong></label>
            <p class="col-sm-6">{{PopSelectedQty}}</p>
          </div>
        </div>
        <div class="row heightAuto-200px mt-1p ml-0 width-100p">
          <table mat-table matSort [dataSource]="BatchDetailsSource" class="custom-table withoutbackgroung search-table table-bordered">
            <ng-container matColumnDef="BatchNo">
              <th mat-header-cell *matHeaderCellDef>Batch No</th>
              <td mat-cell *matCellDef="let element" data-toggle="tooltip" title="Select">{{element.BatchNo}}</td>
            </ng-container>
            <ng-container matColumnDef="BalanceQty">
              <th mat-header-cell *matHeaderCellDef class="width-8p">Balance qty</th>
              <td mat-cell *matCellDef="let element" data-toggle="tooltip" title="Select">{{element.BalanceQty}} </td>
            </ng-container>
            <ng-container matColumnDef="ExpiryDate">
              <th mat-header-cell *matHeaderCellDef class="width-12p">Expiry date</th>
              <td mat-cell *matCellDef="let element" data-toggle="tooltip" title="Select">{{element.ExpiryDate | date:'dd-MMM-y'}} </td>
            </ng-container>
            <ng-container matColumnDef="RetestIntervalDate">
              <th mat-header-cell *matHeaderCellDef>Re-test Interval date</th>
              <td mat-cell *matCellDef="let element" data-toggle="tooltip" title="Select">{{element.RetestIntervalDate | date:'dd-MMM-y'}} </td>
            </ng-container>
            <ng-container matColumnDef="CriticalIntervalDate">
              <th mat-header-cell *matHeaderCellDef>Critical Interval date</th>
              <td mat-cell *matCellDef="let element" data-toggle="tooltip" title="Select">{{element.CriticalIntervalDate | date:'dd-MMM-y'}} </td>
            </ng-container>
            <ng-container matColumnDef="ExpireInDays">
              <th mat-header-cell *matHeaderCellDef>Expiry in days</th>
              <td mat-cell *matCellDef="let element" data-toggle="tooltip" title="Select">{{element.ExpireInDays}} </td>
            </ng-container>
            <ng-container matColumnDef="RetestIntervalDays">
              <th mat-header-cell *matHeaderCellDef>Bal Re-test interval days in hand</th>
              <td mat-cell *matCellDef="let element" data-toggle="tooltip" title="Select">{{element.RetestIntervalDays}} </td>
            </ng-container>
            <ng-container matColumnDef="CriticalIntervalDay">
              <th mat-header-cell *matHeaderCellDef>Bal Critical interval days in hand</th>
              <td mat-cell *matCellDef="let element" data-toggle="tooltip" title="Select">{{element.CriticalIntervalDay}} </td>
            </ng-container>
            <ng-container matColumnDef="TotalQty">
              <th mat-header-cell *matHeaderCellDef>Total qty</th>
              <td mat-cell *matCellDef="let element" data-toggle="tooltip" title="Select">{{element.TotalQty}} </td>
            </ng-container>
            <ng-container matColumnDef="QtyTaken">
              <th mat-header-cell *matHeaderCellDef>Issue qty</th>
              <td mat-cell contenteditable="true" *matCellDef="let element; let i = index;" (click)="myFunction(element)" (blur)="alertHide()" (keypress)="RestrictNegativeValues1($event)" (keyup)="changeValue1(i,'QtyTaken',$event,element);checkingTableQty(i,'QtyTaken',$event,element)" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:13px;text-align:center" data-toggle="tooltip" title="Select">{{element.QtyTaken}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="BatchDetailsCoulmns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row; let element;   let even = even;columns: BatchDetailsCoulmns;" [ngClass]="{gray: even}"></tr>
          </table>
        </div>
        <div class="row" *ngIf="alertInfo">
          <div class="col-sm-1"></div>
          <div class="col-sm-10 mt-5p">
            <p class="fontsize-14p">
              <span style="color:darkred;">Note</span>: <br /> i) This batch  {{alertBatchNo}}   can be issued till {{AlertRetestCriticalIntervalDate | date:'dd-MMM-y'}}  for {{AlertCriticalIntervalDays}} days,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
              ii) This batch no. will not be shown for issual from Re-test critical date {{AlertRetestCriticalIntervalDate | date:'dd-MMM-y'}} till the expiry date {{AlertExpDate | date:'dd-MMM-y'}}
            </p>
          </div>
          <div class="col-sm-1"></div>
        </div>
        <div class="row mt-6p">
          <div class="col-sm-5"></div>
          <div class="col-sm-1 ml-5p">
            <button class="success btn btn-primary " mat-raised-button (click)="BatchQtyCheck()">Ok</button>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--/* Serial Popup */-->
<div class="modal" role="dialog" [ngStyle]="{'display':SerialModels}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="SerialModelClose()">&times;</button>
        <h6 class="modal-title text-center">
          <strong>Available Serial List</strong>
        </h6>
      </div>
      <div class="modal-body">
        <div class="row border-blue border-radius Padding-5px">
          <div class="col-sm-4">
            <div class="col-sm-4">
              <label><strong>Brand :</strong></label>
            </div>
            <div class="col-sm-6">
              <p>{{PopBrand}}</p>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="col-sm-6"><strong>Requested Qty :</strong></label>
            <p class="col-sm-6">{{PopReqqty}}</p>
          </div>
          <div class="col-sm-4">
            <label class="col-sm-6"><strong>Selected Qty :</strong></label>
            <p class="col-sm-6">{{PopSelectedQty}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4 mt-2p">
            <div>
              <mat-label>Available Serial Numbers:</mat-label>
            </div>
            <div class="heightAuto-200px">
              <mat-selection-list #Serialinfo [(ngModel)]="selectedOptions" name="selectedOptions" (selectionChange)="onSelection($event)" (ngModelChange)="SerialLis($event,Serialinfo)">
                <mat-list-option *ngFor="let serials of SerialLists" [value]="serials">
                  {{serials.SerialNo}}
                </mat-list-option>
              </mat-selection-list>
            </div>
          </div>
          <div class="col-sm-4 mt-26p">
            <div class="col-sm-1">
              <button class="success btn btn-primary" (click)="QtyCheck()">Ok</button>
            </div>
            <div class="col-sm-1 ml-20p">
              <button class="btn btn-warning-default" (click)="Serialinfo.deselectAll()">Clear</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!----*Access Popup*---->
<div class="modal" role="dialog" [ngStyle]="{'display':accesspopup}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="modalcloseAccessOk()">&times;</button>
        <h4 class="modal-title">Inter Department Transfer</h4>
      </div>
      <div class="modal-body">
        <table align="center" class=" table custom-table">
          <thead>
            <tr>
              <th>Add</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>Export</th>
              <th>Print</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of accessdata; index as i">
              <td><mat-checkbox [(checked)]="x.Add" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Edit" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Delete" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Export" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Print" disabled></mat-checkbox></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" autofocus (click)="modalcloseAccessOk()">Ok</button>
      </div>
    </div>
  </div>
</div>

<!--Sent Batch Details Pop up-->
<div class="modal" role="dialog" [ngStyle]="{'display':SentBatchDetails}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="SentBatchBatchClose()">&times;</button>
        <h6 class="modal-title">
          <strong>Batch Details</strong>
        </h6>
      </div>
      <div class="modal-body">
        <div class="row border-blue border-radius Padding-5px">
          <div class="col-sm-4">
            <div class="col-sm-4">
              <label><strong>Brand :</strong></label>
            </div>
            <div class="col-sm-6">
              <p>{{PopBrand}}</p>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="col-sm-6"><strong>Qty :</strong></label>
            <p class="col-sm-6">{{PopSelectedQty}}</p>
          </div>
        </div>
        <div  class="row heightAuto-300px mt-1p">
          <table mat-table matSort [dataSource]="SentBatchdataSource" class="custom-table withoutbackgroung search-table table-bordered">
            <ng-container matColumnDef="Batch">
              <th mat-header-cell *matHeaderCellDef class="width-30p">Batch No</th>
              <td mat-cell *matCellDef="let element;let id = index;"> {{element.Batch}} </td>
            </ng-container>
            <ng-container matColumnDef="qty">
              <th mat-header-cell *matHeaderCellDef class="width-16p">Qty</th>
              <td mat-cell *matCellDef="let element;let id = index;"> {{element.qty}} </td>
            </ng-container>
            <ng-container matColumnDef="Expiry">
              <th mat-header-cell *matHeaderCellDef class="width-30p">Expiry Date</th>
              <td mat-cell *matCellDef="let element;let id = index;"> {{element.Expiry| date:'dd-MMM-y'}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="SentBatchdisplayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row; let element;   let even = even;columns: SentBatchdisplayedColumns;" [ngClass]="{gray: even}"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Sent Serial Details Pop up-->
<div class="modal" role="dialog" [ngStyle]="{'display':SerialDetails}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="SerialDetailsClose()">&times;</button>
        <h6 class="modal-title">
          <strong>Serial Details</strong>
        </h6>
      </div>
      <div class="modal-body">
        <div class="row border-blue border-radius Padding-5px">
          <div class="col-sm-4">
            <div class="col-sm-4">
              <label><strong>Brand :</strong></label>
            </div>
            <div class="col-sm-6">
              <p>{{PopBrand}}</p>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="col-sm-6"><strong>Qty :</strong></label>
            <p class="col-sm-6">{{PopSelectedQty}}</p>
          </div>
        </div>
        <div class="row heightAuto-300px mt-1p">
          <div class="col-sm-4">
            <table mat-table matSort [dataSource]="SerialDetailsdataSource" class="custom-table withoutbackgroung search-table table-bordered">
              <ng-container matColumnDef="Serial">
                <th mat-header-cell *matHeaderCellDef>Serial NO</th>
                <td mat-cell *matCellDef="let element;let id = index;"> {{element.SerialNo}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="SerialDetailsdisplayedColumns;sticky:true"></tr>
              <tr mat-row *matRowDef="let row; let element;   let even = even;columns: SerialDetailsdisplayedColumns;" [ngClass]="{gray: even}"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
