

<div class="col-sm-12">
  <div class="row">
    <h6>Appointment Scheduled Patients</h6>
  </div>
  <!--<div class="col-sm-12 mph-0">
    <div class="row mph-0">
      <div class="col-sm-12 mph-0">
        <div class="col-sm-6 mph-0 pb20">
          <span class="uinborder">
            <strong>{{Getuin}} / {{Getname}} / {{Getage}} / {{Getgender}}</strong>
          </span>
        </div>
        <div class="col-sm-2 mph-0 pb20">
        </div>
        <div class="col-sm-4 mph-0 f-r content-right pb20">
          <button class="btn-text" (click)="Getformaccess()"><i class="fas fa-eye"></i> View Access</button>
        </div>
      </div>
    </div>
  </div>-->

  <div class="row">
    <div class="col-sm-2">
      <mat-form-field appearance="outline">
        <mat-label><strong>Status</strong></mat-label>
        <mat-select [(ngModel)]="M_ViewAppoint"  name="View2" (ngModelChange)="Selectedppoinyent()">
          <mat-option value="All">All</mat-option>
          <mat-option value="Open">Open</mat-option>
          <mat-option value="Confirmed">Confirmed</mat-option>
          <mat-option value="Cancelled">Cancelled</mat-option>
          <mat-option value="Re-scheduled">Re-schedule</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-2">
      <mat-form-field appearance="outline">
        <mat-label><strong>Doctor</strong></mat-label>
        <mat-select [(ngModel)]="M_APpointmentEyeDoctor" name="Appdoctor" (ngModelChange)="EAPoointmentDoctor()">
          <mat-option value="None">None</mat-option>
          <mat-option *ngFor="let Appintmentengage of EyeDoctor" [value]="Appintmentengage">{{Appintmentengage.Text}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-2"></div>

    <div class="col-sm-2" *ngIf="PatientAssignStatus.length > 0">
      <button *ngIf="Hideappointmentbutton && PatientAssignStatus.length > 0" class="Assigned" mat-raised-button (click)="AssignedAppointment()">Assign Patient</button>
    </div>

    <div class="col-sm-2"></div>
    <div class="col-sm-2">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="AppointnetpplyFilter($event)" placeholder="Search">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="mat-elevation-z8" id="render_me">
      <table mat-table [dataSource]="Appointementsdatsource" class="custom-table  search-table">
        <ng-container matColumnDef="AppointSelect">
          <th mat-header-cell *matHeaderCellDef>Select</th>
          <td mat-cell *matCellDef="let element" disabled="show">
            <button mat-button (click)="selectAppointmentDrop(element)"
                    [disabled]="element.Doctorid === ' ' ||element.Appoinytstatus ==='Cancelled' || element.Appoinytstatus ==='Confirmed'|| element.Appoinytstatus ==='Re-scheduled'">
              <mat-icon data-toggle="tooltip" title="Select Patient" class="grab">touch_app</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="AppointNAme">
          <th mat-header-cell *matHeaderCellDef>Patient Name</th>
          <td mat-cell *matCellDef="let element">{{element.Name}}</td>
        </ng-container>
        <ng-container matColumnDef="AppointAGe">
          <th mat-header-cell *matHeaderCellDef>Age</th>
          <td mat-cell *matCellDef="let element">{{element.Age}}</td>
        </ng-container>
        <ng-container matColumnDef="AppointGender">
          <th mat-header-cell *matHeaderCellDef>Gender </th>
          <td mat-cell *matCellDef="let element">{{element.Gender}}</td>
        </ng-container>
        <ng-container matColumnDef="AppointDate">
          <th mat-header-cell *matHeaderCellDef>Date & Time</th>
          <td mat-cell *matCellDef="let element">{{element.Appointmentdate | date: "dd-MMM-y"}} &nbsp;{{element.Apptime}}</td>
        </ng-container>

        <ng-container matColumnDef="AppointcreatedDate">
          <th mat-header-cell *matHeaderCellDef>Purpose</th>
          <td mat-cell *matCellDef="let element">{{element.APpointmentreasons}}</td>
        </ng-container>

        <ng-container matColumnDef="Appoinytstatusss">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">{{element.Appoinytstatus}}</td>
        </ng-container>

        <ng-container matColumnDef="AppoinytCancelleddate">
          <th mat-header-cell *matHeaderCellDef>Cancelled / Re-Scheduled Date & Time</th>
          <td mat-cell *matCellDef="let element">{{element.Cancelleddatetime | date: "dd-MMM-y HH:mm"}}</td>
        </ng-container>

        <ng-container matColumnDef="Appoinytbookedby">
          <th mat-header-cell *matHeaderCellDef>Booked by</th>
          <td mat-cell *matCellDef="let element">{{element.Appointmentbookedby}}</td>
        </ng-container>

        <ng-container matColumnDef="Appoinytpreferreddoctor">
          <th mat-header-cell *matHeaderCellDef>Preferred Doctor</th>
          <td mat-cell *matCellDef="let element">{{element.Doctorid}}</td>
        </ng-container>


        <ng-container matColumnDef="AppointmentAssign">
          <th mat-header-cell *matHeaderCellDef>Assign Patient</th>
          <td mat-cell *matCellDef="let element">
            <input type="checkbox" (change)="$event ? selection.toggle(element) : null"
                   (click)="selectAppointmentType(element)" [checked]="selection.isSelected(element)"
                   [disabled]="element.Appoinytstatus === 'Confirmed'||element.Appoinytstatus === 'Cancelled' ||  element.Appoinytstatus==='Re-scheduled'" />
          </td>
        </ng-container>


        <ng-container matColumnDef="AppointmentCancelMY">
          <th mat-header-cell *matHeaderCellDef>Cancel</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="CancelAppojntment2(element)"
                    [disabled]="element.Appoinytstatus === 'Cancelled' ||  element.Appoinytstatus === 'Re-scheduled'">
              <mat-icon data-toggle="tooltip" title="Cancel Patient" class="cancelicon">cancel</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="APoointmentdisplayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let element;  columns: APoointmentdisplayedColumns;"></tr>
      </table>
      <mat-paginator class="Minwidthside" #APpointPaginator [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>

  </div>



</div>





<div class="modal" role="dialog" [ngStyle]="{'display':APpointmentanelblock}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="messagesRClosesss()">&times;</button>
        <h4 class="modal-title">Confirm to cancel</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-8">
            <mat-form-field appearance="outline" style="width: -webkit-fill-available;">
              <mat-label>Enter reason for cancellation</mat-label>
              <textarea [(ngModel)]="AppointmentCancellation" name="APpoinreasons" #messagesR maxlength="250" rows="10" cols="50" matInput placeholder="Enter Details"></textarea>
              <mat-hint align="start">Max 250 Character</mat-hint>
              <mat-hint align="end">{{messagesR.value.length}}/250</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
      <div class="modal-footer" style="border:none">
        <button type="reset" class="btn btn-danger" data-dismiss="modal" (click)="messagesRClosesss()">Close</button>
        <button type="reset" class="btn btn-success" data-dismiss="modal" (click)="messagesRClosesssok()">Submit</button>

      </div>
    </div>
  </div>
</div>
