

<form #purchaseordercancelForm="ngForm">

  <div class="col-sm-12">
    <div class="row">

      <div class="col-sm-12 borfiglau-0">

        <div class="row card-header center">
          <h5>Purchase order Cancellation</h5>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <button (click)="Purchaseorderhistory()" class="btn-text grab f-r" data-toggle="tooltip" title="Purchase Order Cancellation">
              <i class="fas fa-info-circle"></i>help
            </button>
          </div>
          <div class="col-sm-2">

          </div>
          <div class="col-sm-3">

          </div>
          <div class="col-sm-2">

          </div>
          <div class="col-sm-2">
            <button class="btn-text" (click)="Getformaccess()"><i class="fas fa-eye"></i> View Access</button>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <mat-form-field appearance="outline">
              <mat-label>Purchase Date</mat-label>
              <input [(ngModel)]="PurchaseDate" name="PurchaseDate" matInput [matDatepicker]="picker1" placeholder="Purchase order Date" disabled>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-sm-2">
            <mat-form-field appearance="outline">
              <mat-label>Purchase Number</mat-label>
              <input [(ngModel)]="Purchaseno" name="Purchaseno" matInput placeholder="Purchase Number" disabled>
            </mat-form-field>
          </div>
          <div class="col-sm-2">
            <mat-form-field appearance="outline">
              <mat-label>Quotation Number</mat-label>
              <input [(ngModel)]="Quotationno" name="Quotationno" matInput placeholder="Quotation Number" disabled>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field appearance="outline">
              <mat-label>Quotation Date</mat-label>
              <input [(ngModel)]="Quotationdate" name="Quotationdate" matInput [matDatepicker]="picker2" placeholder="Quotation Date" disabled>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>


        <div class="row mt-1p">

          <div class="col-sm-4">
            <span class="uinborder refcol">
              Supplier Details:
            </span>
          </div>

          <div class="col-sm-4">
            <span class="uinborder refcol">
              Delivery Details:
            </span>
          </div>

          <div class="col-sm-4">
            <span class="uinborder refcol">
              Others:
            </span>
          </div>


        </div>

        <div class="row  mt-2p">

          <div class="col-sm-4">

            <div class="row ml-1p">
              <div class="col-sm-4">
                <div class="row">
                  <mat-label class="refcol">Supplier Name</mat-label>
                </div>
              </div>
              <div class="col-sm-8">
                <mat-label>{{Supplier}}</mat-label>
              </div>
            </div>

            <div class="row ml-1p">
              <div class="col-sm-4">
                <div class="row">
                  <mat-label class="refcol">Address</mat-label>
                </div>
              </div>
              <div class="col-sm-8">
                <mat-label>{{Address1}}</mat-label>
              </div>
            </div>

            <div class="row ml-1p">
              <div class="col-sm-4">
                <div class="row">
                  <mat-label class="refcol">Phone No</mat-label>
                </div>
              </div>
              <div class="col-sm-8">
                <mat-label>{{PhoneNo}}</mat-label>
              </div>
            </div>

            <div class="row ml-1p">
              <div class="col-sm-4">
                <div class="row">
                  <mat-label class="refcol">Tax No</mat-label>
                </div>
              </div>
              <div class="col-sm-8">
                <mat-label>{{GSTNo}}</mat-label>
              </div>
            </div>

            <div class="row ml-1p">
              <div class="col-sm-4">
                <div class="row">
                  <mat-label class="refcol">Location&nbsp;/&nbsp;City</mat-label>
                </div>
              </div>
              <div class="col-sm-8">
                <mat-label>{{Location}}</mat-label>
              </div>
            </div>


            <div class="row ml-1p">
              <div class="col-sm-4">
                <div class="row">
                  <mat-label class="refcol">State&nbsp;/&nbsp;Country</mat-label>
                </div>
              </div>
              <div class="col-sm-8">
                <mat-label>{{Statess}}</mat-label>
              </div>
            </div>


          </div>

          <div class="col-sm-4">

            <div class="row ml-1p">
              <div class="col-sm-4">
                <div class="row">
                  <mat-label class="refcol">Name</mat-label>
                </div>
              </div>
              <div class="col-sm-8">
                <mat-label>{{DeliveryName}}</mat-label>
              </div>
            </div>

            <div class="row ml-1p">
              <div class="col-sm-4">
                <div class="row">
                  <mat-label class="refcol">Address</mat-label>
                </div>
              </div>
              <div class="col-sm-8">
                <mat-label>{{DAddress1}}</mat-label>
              </div>
            </div>

            <div class="row ml-1p">
              <div class="col-sm-4">
                <div class="row">
                  <mat-label class="refcol">Location&nbsp;/&nbsp;City</mat-label>
                </div>
              </div>
              <div class="col-sm-8">
                <mat-label>{{Locations}}</mat-label>
              </div>
            </div>

            <div class="row ml-1p">
              <div class="col-sm-4">
                <div class="row">
                  <mat-label class="refcol">State&nbsp;/&nbsp;Country</mat-label>
                </div>
              </div>
              <div class="col-sm-8">
                <mat-label>{{State}}</mat-label>
              </div>
            </div>


          </div>

          <div class="col-sm-4">

            <div class="row ml-1p">
              <div class="col-sm-4">
                <div class="row">
                  <mat-label class="refcol">Validity</mat-label>
                </div>
              </div>
              <div class="col-sm-8">
                <mat-label>{{Validity}}</mat-label>
              </div>
            </div>

            <div class="row ml-1p">
              <div class="col-sm-4">
                <div class="row">
                  <mat-label class="refcol">Delivery</mat-label>
                </div>
              </div>
              <div class="col-sm-8">
                <mat-label>{{Delivery}}</mat-label>
              </div>
            </div>

            <div class="row ml-1p">
              <div class="col-sm-4">
                <div class="row">
                  <mat-label class="refcol">Terms of payment</mat-label>
                </div>
              </div>
              <div class="col-sm-8">
                <mat-label>{{PaymentandTerms}}</mat-label>
              </div>
            </div>

            <div class="row ml-1p">
              <div class="col-sm-4">
                <div class="row">
                  <mat-label class="refcol">Instructions</mat-label>
                </div>
              </div>
              <div class="col-sm-8">
                <mat-label>{{Instructions}}</mat-label>
              </div>
            </div>


          </div>

        </div>

        <div class="row mt-n1p">

          <div class="col-sm-12">
            <div class="card mb-3">
              <h5 class="card-header">
                Item Details
              </h5>

              <div class="card-body">
                <div class="row heightAuto-250px">

                  <table mat-table [dataSource]="dataSource" class="custom-table withoutbackgroung search-table table-bordered">


                    <ng-container matColumnDef="DrugName">
                      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Drug Name </th>
                      <td mat-cell *matCellDef="let element;let id = index" class="width-15p" contenteditable="false">{{element.Itemname}}</td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>


                    <ng-container matColumnDef="DrugNamesymbol">
                      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Drug Name </th>
                    </ng-container>


                    <ng-container matColumnDef="PurchaseUOM">
                      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> UOM </th>
                      <td mat-cell *matCellDef="let element" contenteditable="false">{{element.UOMname}}</td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>

                    <ng-container matColumnDef="PurchaseUOMsymbol">
                      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">  UOM </th>
                    </ng-container>

                    <ng-container matColumnDef="Quantity">
                      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Po Qty </th>
                      <td mat-cell *matCellDef="let element;let id = index;" contenteditable="false">{{element.ItemQty}}</td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>

                    <ng-container matColumnDef="Quantitysymbol">
                      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> PO Qty </th>
                    </ng-container>


                    <ng-container matColumnDef="UnitPrice">
                      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Unit rate </th>
                      <td mat-cell *matCellDef="let element" contenteditable="false">{{element.ItemRate}}</td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>

                    <ng-container matColumnDef="UnitPricesymbol">
                      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Unit rate </th>
                    </ng-container>

                    <ng-container matColumnDef="Amount">
                      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Amount</th>
                      <td mat-cell *matCellDef="let element" contenteditable="false">{{element.ItemValue}}</td>
                      <td mat-footer-cell *matFooterCellDef> <b>{{Gettotalamount | currency:Country2}}</b></td>
                    </ng-container>

                    <ng-container matColumnDef="Amountsymbol">
                      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Amount</th>
                    </ng-container>


                    <ng-container matColumnDef="Discount">
                      <th mat-header-cell *matHeaderCellDef> % </th>
                      <td mat-cell *matCellDef="let element;let id = index;" contenteditable="false">{{element.DiscountPercentage}}</td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>

                    <ng-container matColumnDef="DiscountAmount">
                      <th mat-header-cell *matHeaderCellDef> Amount</th>
                      <td mat-cell *matCellDef="let element;let id = index;" contenteditable="false">{{element.DiscountAmount}}</td>
                      <td mat-footer-cell *matFooterCellDef><b>{{PDiscounttt | currency:Country2}}</b></td>
                    </ng-container>


                    <ng-container matColumnDef="Grosssymbol">
                      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Gross Amount </th>
                    </ng-container>

                    <ng-container matColumnDef="GrossAmount">
                      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Gross Amount</th>
                      <td mat-cell *matCellDef="let element;let id = index;" contenteditable="false">{{element.Grossamount}}</td>
                      <td mat-footer-cell *matFooterCellDef><b>{{PGrossss | currency:Country2}}</b></td>
                    </ng-container>

                    <ng-container matColumnDef="TaxDescription">
                      <th mat-header-cell *matHeaderCellDef>Description</th>
                      <td mat-cell *matCellDef="let element;let id = index;" contenteditable="false">
                        <div class="row">
                          <div *ngIf="element.TaxDescription != null && element.GSTPercentage != 0" class="col-sm-12">
                            {{element.TaxDescription}}
                          </div>
                          <br />
                          <div *ngIf="element.CESSDescription != null && element.CESSPercentage != 0" class="col-sm-12">
                            {{element.CESSDescription}}
                          </div>
                          <br />
                          <div *ngIf="element.AdditionalCESSDescription != null && element.AdditionalCESSPercentage != 0" class="col-sm-12">
                            {{element.AdditionalCESSDescription}}
                          </div>
                        </div>
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="GST">
                      <th mat-header-cell *matHeaderCellDef>%</th>
                      <td mat-cell *matCellDef="let element;let id = index;" contenteditable="false">
                        <div class="row">
                          <div *ngIf="element.GSTPercentage != 0 && element.TaxDescription != null" class="col-sm-12">
                            {{element.GSTPercentage | number : '1.2-2'}}
                          </div>
                          <br />
                          <div *ngIf="element.CESSPercentage != 0 && element.CESSDescription != null" class="col-sm-12">
                            {{element.CESSPercentage | number : '1.2-2'}}
                          </div>
                          <br />
                          <div *ngIf="element.AdditionalCESSPercentage != 0 && element.AdditionalCESSDescription != null" class="col-sm-12">
                            {{element.AdditionalCESSPercentage | number : '1.2-2'}}
                          </div>
                        </div>
                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>

                    <ng-container matColumnDef="GSTValue">
                      <th mat-header-cell *matHeaderCellDef> Amount</th>
                      <td mat-cell *matCellDef="let element;let id = index;" contenteditable="false">
                        <div class="row">
                          <div *ngIf="element.GSTPercentage != 0 && element.TaxDescription != null" class="col-sm-12">
                            {{element.GSTTaxValue | number : '1.2-2'}}
                          </div>
                          <br />
                          <div *ngIf="element.CESSPercentage != 0 && element.CESSDescription != null" class="col-sm-12">
                            {{element.CESSAmount | number : '1.2-2'}}
                          </div>
                          <br />
                          <div *ngIf="element.AdditionalCESSPercentage != 0 && element.AdditionalCESSDescription != null" class="col-sm-12">
                            {{element.AddCESSAmount | number : '1.2-2'}}
                          </div>
                        </div>
                      </td>
                      <td mat-footer-cell *matFooterCellDef><b>{{Getoveralpoamount | currency:Country2}}</b> </td>
                    </ng-container>


                    <ng-container matColumnDef="TotalAmountsymbol">
                      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Total Amount</th>
                    </ng-container>


                    <ng-container matColumnDef="TotalAmount">
                      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> TotalAmount</th>
                      <td mat-cell *matCellDef="let element;let id = index;" contenteditable="false">{{element.Totalamount}}</td>
                      <td mat-footer-cell *matFooterCellDef><b>{{PTotalpooo | currency:Country2}} </b></td>
                    </ng-container>


                    <ng-container matColumnDef="header-row-group">
                      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Discount </th>
                    </ng-container>

                    <ng-container matColumnDef="header-row-third-group">
                      <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"> Tax </th>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['DrugNamesymbol','PurchaseUOMsymbol','Quantitysymbol','UnitPricesymbol','Amountsymbol','header-row-group','Grosssymbol','header-row-third-group','TotalAmountsymbol'];sticky:true"></tr>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                    <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns;sticky:true"></tr>
                  </table>

                </div>

              </div>
            </div>
          </div>



        </div>


      </div>

      <div class="col-sm-12 m-3">
        <div class="col-sm-12 pb25">
          <div class="col-sm-4  sub-section btn-wrap f-r">
            <button type="button" class="btn btn-warning-default" (click)="CancelClk()"> Cancel </button>
            <button type="button" class="success btn btn-primary  ml-2p" [disabled]="disSubmit || cancelsubmit" (click)="onSubmit()">Submit</button>
          </div>
        </div>
      </div>


    </div>
  </div>


</form>










<div class="modal" role="dialog" [ngStyle]="{'display':modalpreview}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="modalSuccesspreview()">&times;</button>
        <h5 class="modal-title">
          Purchase Order Cancellation
        </h5>
      </div>


      <div class="modal-body">

        <div class="row">
          <div class="col-sm-3">
            <mat-form-field appearance="outline">
              <mat-label>Filter</mat-label>
              <input id="myInputgrn" type="text" matInput placeholder="Search">
            </mat-form-field>
          </div>
        </div>

        <div class="row heightAuto-300px">

          <table class="custom-table withoutbackgroung search-table table-bordered">


            <tr>
              <th rowspan="2">Action</th>
              <th colspan="2">Cancelled Purchase Order</th>
              <th colspan="2"> Purchase Order</th>
              <th colspan="2">Quotation</th>
              <th rowspan="2">Supplier Name</th>
              <th rowspan="2">Tobedelivered</th>
              <th rowspan="2">Status</th>
            </tr>


            <tr>
              <th>Number</th>
              <th>Date</th>
              <th>Number</th>
              <th>Date</th>
              <th>Number</th>
              <th>Date</th>
            </tr>


            <tbody id="myTablegrn">
              <tr *ngFor="let s of Item">
                <td>
                  <button mat-icon-button>
                    <mat-icon data-toggle="tooltip" title="Select" class="example-tab-icon cursor" (click)="cancelpurchase(s)">create</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon class="grab" data-toggle="tooltip" title="Print" (click)="print(s)">local_printshop</mat-icon>
                  </button>
                </td>
                <td>{{s.PONumber}}</td>
                <td>{{s.PODate | date:"dd-MMM-y HH:mm"}}</td>
                <td>{{s.ParentPONumber}}</td>
                <td>{{s.ParentPODate | date:"dd-MMM-y HH:mm"}}</td>
                <td>{{s.QuotationNumber}}</td>
                <td>{{s.QuotationDate | date:"dd-MMM-y HH:mm"}}</td>
                <td>{{s.VendorName}}</td>
                <td>{{s.DeliveryName}}</td>
                <td [ngStyle]="{'color': s.IsCancelled === 'Cancelled'? 'red' : 'green'}">{{s.IsCancelled}}</td>
              </tr>
            </tbody>
          </table>


        </div>

      </div>











    </div>
  </div>
</div>

<div class="modal" role="dialog" [ngStyle]="{'display':cancelblock}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="modalSuccessClosessss()">&times;</button>
        <h4 class="modal-title">Do you want to cancel?</h4>
      </div>


      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" autofocus (click)="modalcloseOk()">No</button>
        <button type="reset" class="btn btn-success" data-dismiss="modal" (click)="modalSuccesssOk()">Yes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" role="dialog" [ngStyle]="{'display':purchaseprint}">
  <div class="example-box" cdkDrag>
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-11">
                <h4 class="modal-title">Information</h4>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-body">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-10">
                <p><strong>Do you want to Print?</strong></p>
              </div>
              <div class="col-sm-1">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">

          <button (click)="printsss()" class="btn btn-primary">Yes</button>
          <button type="button" id="theButton" class="btn btn-success" data-dismiss="modal" (click)="printclose()" cdkFocusInitial>No</button>

        </div>


      </div>
    </div>
  </div>
</div>

<div id="printss" style="display:none">


  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div style="text-align:center"><strong>{{ccompany}}</strong></div>
        <div style="text-align:center"><strong>{{CAddress}}</strong></div>
        <div style="text-align:center"><strong>Phone No:{{CPhone}} &nbsp; Website:{{CWebb}}</strong></div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div style="text-align:center"><strong>PURCHASE ORDER CANCALLATION</strong></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12" style="margin-top:10px">
    <div class="row">

      <div class="col-sm-4">

        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label><b>Cancelled PO Number</b></mat-label>
            </div>
          </div>
          <div class="col-sm-8">
            <mat-label>{{Pnumber}}</mat-label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label><b>Cancelled PO Date</b></mat-label>
            </div>
          </div>
          <div class="col-sm-8">
            <mat-label>{{PDate | date:"dd-MMM-y HH:mm"}}</mat-label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label><b>Qtn Number</b></mat-label>
            </div>
          </div>
          <div class="col-sm-8">
            <mat-label>{{QNo}}</mat-label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label><b>Qtn Date</b></mat-label>
            </div>
          </div>
          <div class="col-sm-8">
            <mat-label>{{QDate | date:"dd-MMM-y HH:mm"}}</mat-label>
          </div>
        </div>




      </div>

    </div>
  </div>

  <div class="col-sm-12" style="margin-top:10px">
    <div class="row">

      <div class="col-sm-4">
        <b>SUPPLIER DETAILS:</b>

        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label><b>Name</b></mat-label>
            </div>
          </div>
          <div class="col-sm-8">
            <mat-label>{{VNamee}}</mat-label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label><b>Address</b></mat-label>
            </div>
          </div>
          <div class="col-sm-8">
            <mat-label>{{VAddresss1}}</mat-label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label><b>Phone No</b></mat-label>
            </div>
          </div>
          <div class="col-sm-8">
            <mat-label>{{VPhonenoo}}</mat-label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label><b>Tax No</b></mat-label>
            </div>
          </div>
          <div class="col-sm-8">
            <mat-label>{{VGstnoo}}</mat-label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label><b>Location&nbsp;/&nbsp;City</b></mat-label>
            </div>
          </div>
          <div class="col-sm-8">
            <mat-label>{{VLocationn}}</mat-label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label><b>State&nbsp;/&nbsp;Country</b></mat-label>
            </div>
          </div>
          <div class="col-sm-8">
            <mat-label>{{VStatess}}</mat-label>
          </div>
        </div>


      </div>

      <div class="col-sm-4"></div>

      <div class="col-sm-4">
        <b>DELIVERY ADDRESS:</b>

        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label><b>Name</b></mat-label>
            </div>
          </div>
          <div class="col-sm-8">
            <mat-label>{{PDeliveryy}}</mat-label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label><b>Address</b></mat-label>
            </div>
          </div>
          <div class="col-sm-8">
            <mat-label>{{PDeliveryaddd1}}</mat-label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label><b>Location&nbsp;/&nbsp;City</b></mat-label>
            </div>
          </div>
          <div class="col-sm-8">
            <mat-label>{{PLocationn}}</mat-label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <mat-label><b>State&nbsp;/&nbsp;Country</b></mat-label>
            </div>
          </div>
          <div class="col-sm-8">
            <mat-label>{{PState}}</mat-label>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-12" style="margin-top:10px">
    <strong>Item Details:</strong>

  </div>

  <div class="col-sm-12" style="margin-top:10px">
    <div class="row">

      <table mat-table [dataSource]="dataSourceprint" class="custom-table withoutbackgroung search-table table-bordered">


        <ng-container matColumnDef="DrugNameprint">
          <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Drug Name </th>
          <td mat-cell *matCellDef="let element;let id = index" class="width-15p">{{element.ItemID}}</td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>


        <ng-container matColumnDef="DrugNamesymbolprint">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Drug Name </th>
        </ng-container>


        <ng-container matColumnDef="PurchaseUOMprint">
          <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> UOM </th>
          <td mat-cell *matCellDef="let element;let id = index;"> {{element.UOMID}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="PurchaseUOMsymbolprint">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">  UOM </th>
        </ng-container>

        <ng-container matColumnDef="Quantityprint">
          <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Po Qty </th>
          <td mat-cell *matCellDef="let element;let id = index;">{{element.ItemQty | number : '1.2-2'}}</td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="Quantitysymbolprint">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> PO Qty </th>
        </ng-container>


        <ng-container matColumnDef="recdQuantityprint">
          <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> PO cal Qty </th>
          <td mat-cell *matCellDef="let element;let id = index;">{{element.POCancelledQty | number : '1.2-2'}}</td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="recdQuantitysymbolprint">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> PO cal Qty </th>
        </ng-container>


        <ng-container matColumnDef="UnitPriceprint">
          <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Unit rate </th>
          <td mat-cell *matCellDef="let element" contenteditable="false"> {{element.ItemRate | number : '1.2-2'}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="UnitPricesymbolprint">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Unit rate </th>
        </ng-container>

        <ng-container matColumnDef="Amountprint">
          <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Amount</th>
          <td mat-cell *matCellDef="let element;let id = index;">{{element.ItemValue | number : '1.2-2'}} </td>
          <td mat-footer-cell *matFooterCellDef> <b>{{Pamount | currency:Country2}}</b></td>
        </ng-container>

        <ng-container matColumnDef="Amountsymbolprint">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Amount</th>
        </ng-container>


        <ng-container matColumnDef="Discountprint">
          <th mat-header-cell *matHeaderCellDef> % </th>
          <td mat-cell *matCellDef="let element;let id = index;">{{element.DiscountPercentage | number : '1.2-2'}}</td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="DiscountAmountprint">
          <th mat-header-cell *matHeaderCellDef> Amount</th>
          <td mat-cell *matCellDef="let element;let id = index;">{{element.DiscountAmount | number : '1.2-2'}} </td>
          <td mat-footer-cell *matFooterCellDef><b>{{PDiscountt | currency:Country2}}</b></td>
        </ng-container>


        <ng-container matColumnDef="Grosssymbolprint">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Gross Amount </th>
        </ng-container>

        <ng-container matColumnDef="GrossAmountprint">
          <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Gross Amount</th>
          <td mat-cell *matCellDef="let element;let id = index;">{{element.Grossamount | number : '1.2-2'}} </td>
          <td mat-footer-cell *matFooterCellDef><b>{{PGrosss | currency:Country2}}</b></td>
        </ng-container>

        <ng-container matColumnDef="TaxDescriptionprint">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element;let id = index;">
            <div class="row">
              <div *ngIf="element.TaxDescription != null && element.GSTPercentage != 0" class="col-sm-12">
                {{element.TaxDescription}}
              </div>
              <br />
              <div *ngIf="element.CESSDescription != null && element.CESSPercentage != 0" class="col-sm-12">
                {{element.CESSDescription}}
              </div>
              <br />
              <div *ngIf="element.AdditionalCESSDescription != null && element.AdditionalCESSPercentage != 0" class="col-sm-12">
                {{element.AdditionalCESSDescription}}
              </div>
            </div>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="GSTprint">
          <th mat-header-cell *matHeaderCellDef>%</th>
          <td mat-cell *matCellDef="let element;let id = index;">
            <div class="row">
              <div *ngIf="element.GSTPercentage != 0 && element.TaxDescription != null" class="col-sm-12">
                {{element.GSTPercentage | number : '1.2-2'}}
              </div>
              <br />
              <div *ngIf="element.CESSPercentage != 0 && element.CESSDescription != null" class="col-sm-12">
                {{element.CESSPercentage | number : '1.2-2'}}
              </div>
              <br />
              <div *ngIf="element.AdditionalCESSPercentage != 0 && element.AdditionalCESSDescription != null" class="col-sm-12">
                {{element.AdditionalCESSPercentage | number : '1.2-2'}}
              </div>
            </div>
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="GSTValueprint">
          <th mat-header-cell *matHeaderCellDef> Amount</th>
          <td mat-cell *matCellDef="let element;let id = index;">
            <div class="row">
              <div *ngIf="element.GSTPercentage != 0 && element.TaxDescription != null" class="col-sm-12">
                {{element.GSTTaxValue | number : '1.2-2'}}
              </div>
              <br />
              <div *ngIf="element.CESSPercentage != 0 && element.CESSDescription != null" class="col-sm-12">
                {{element.CESSAmount | number : '1.2-2'}}
              </div>
              <br />
              <div *ngIf="element.AdditionalCESSPercentage != 0 && element.AdditionalCESSDescription != null" class="col-sm-12">
                {{element.AddCESSAmount | number : '1.2-2'}}
              </div>
            </div>
          </td>
          <td mat-footer-cell *matFooterCellDef><b>{{PTotalaxx | currency:Country2}} </b> </td>
        </ng-container>


        <ng-container matColumnDef="TotalAmountsymbolprint">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Total Amount</th>
        </ng-container>


        <ng-container matColumnDef="TotalAmountprint">
          <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}"> TotalAmount</th>
          <td mat-cell *matCellDef="let element;let id = index;">{{element.Totalamount | number : '1.2-2'}} </td>
          <td mat-footer-cell *matFooterCellDef><b> {{PTotalpoo | currency:Country2}}</b></td>
        </ng-container>



        <ng-container matColumnDef="header-row-groupprint">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Discount </th>
        </ng-container>

        <ng-container matColumnDef="header-row-third-groupprint">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"> Tax </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['DrugNamesymbolprint','PurchaseUOMsymbolprint','Quantitysymbolprint','recdQuantitysymbolprint','UnitPricesymbolprint','Amountsymbolprint','header-row-groupprint','Grosssymbolprint','header-row-third-groupprint','TotalAmountsymbolprint']"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsprint;sticky:true"></tr>
        <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumnsprint;" [ngClass]="{gray: even}"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumnsprint;sticky:true"></tr>
      </table>


    </div>
  </div>

  <div class="col-sm-12" style="margin-top:10px">
    <div class="row">
      <div class="col-sm-3">
        <mat-label><strong>Validity: &nbsp;</strong></mat-label>
        {{Vaaalid}}
      </div>
      <div class="col-sm-3">
        <mat-label><strong>Delivery: &nbsp;</strong></mat-label>
        {{Deeliver}}
      </div>
      <div class="col-sm-3">
        <mat-label><strong>PaymentandTerms: &nbsp;</strong></mat-label>
        {{Paayment}}
      </div>
      <div class="col-sm-3">
        <mat-label><strong>Instructions: &nbsp;</strong></mat-label>
        {{Termc}}
      </div>
    </div>
  </div>

  <div class="col-sm-12" style="margin-top:5%">
    <div class="row">
      <div class="col-sm-4">
        <mat-label><strong>Authorized Signatory &nbsp;</strong></mat-label>

      </div>
    </div>

  </div>


</div>

<div class="modal" role="dialog" [ngStyle]="{'display':accesspopup}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Purchase order Cancellation - View Access</h6>
      </div>
      <div class="modal-body">
        <table class="custom-table withoutbackgroung search-table table-bordered">
          <thead>
            <tr>
              <th>Add</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>Export</th>
              <th>Print</th>
            </tr>
          </thead>
          <tbody>


            <tr *ngFor="let x of accessdata">
              <td><mat-checkbox [(checked)]="x.Add" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Edit" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Delete" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Export" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Print" disabled></mat-checkbox></td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" autofocus (click)="modalcloseAccessOk()">Ok</button>
      </div>
    </div>
  </div>
</div>
