<form #OpticalStockLedger="ngForm">

  <div class="col-sm-12 borfiglau-0">
    <h5 class="card-header center">
      Optical Stock Ledger
    </h5>

    <div class="col-sm-12">
      <div class="row pgtop20-0">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-2">
          <button class="btn-text" (click)="Getformaccess()"><i class="fas fa-eye"></i> View Access</button>
        </div>
      </div>
    </div>

    <div class="col-sm-12" *ngIf="TableMain">
      <div class="row">

        <div class="col-sm-12 pgtop20-0">
          <div class="row">

            <div class="col-sm-4">

              <div class='input-group date'>
                <input required [(ngModel)]="M_FromDate" name="FromDate" placeholder="From Date"
                       class="form-control"
                       #dpM="bsDatepicker"
                       [maxDate]="maxDatef"
                       bsDatepicker
                       autocomplete="off"
                       [bsConfig]="{ dateInputFormat: 'MMM-YYYY',isAnimated: true }"
                       (onShown)="onOpenCalendar($event)">
                <span class="input-group-addon">
                  <span class="fa fa-calendar grab" (click)="dpM.toggle()" [attr.aria-expanded]="dpM.isOpen"></span>
                </span>
              </div>

            </div>

            <div class="col-sm-4">
              <div class='input-group date'>
                <input required [(ngModel)]="M_ToDate" name="ToDate" placeholder="To Date"
                       class="form-control"
                       #dpRM="bsDatepicker"
                       [maxDate]="maxDateRMf"
                       bsDatepicker
                       autocomplete="off"
                       [bsConfig]="{ dateInputFormat: 'MMM-YYYY',isAnimated: true }"
                       (onShown)="onOpenCalendar($event)">
                <span class="input-group-addon">
                  <span class="fa fa-calendar grab" (click)="dpRM.toggle()" [attr.aria-expanded]="dpRM.isOpen"></span>
                </span>
              </div>
            </div>

            <div class="col-sm-4">

              <mat-form-field appearance="outline">
                <mat-label>Select Branch</mat-label>
                <mat-select [(ngModel)]="BranchDrop" name="BranchDrop" (selectionChange)="selectdBranch($event)" required>
                  <mat-option *ngFor="let Brancha of GetBranchdata" [value]="Brancha">{{Brancha.Text}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">


            <div class="col-sm-4">
              <mat-form-field appearance="outline" class="mat-width">
                <mat-label>Store</mat-label>
                <mat-select [(ngModel)]="storename" name="storenames" #select multiple required>
                  <div class="select-all">
                    <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}" (change)="selectdstore()">Select All</mat-checkbox>
                  </div>
                  <mat-option (click)="optionClick()" *ngFor="let Store of StoreName" [value]="Store">{{Store.Text}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div class="col-sm-4">
              <mat-form-field appearance="outline" class="mat-width">
                <mat-label>Select Brand</mat-label>
                <mat-select #selectBrand [(ngModel)]="M_BrandDataDrop" name="BrandDrop" multiple required>
                  <div class="select-all">
                    <mat-checkbox [(ngModel)]="allSelectedBrand" [ngModelOptions]="{standalone: true}" (change)="selectselectbrand()">Select All</mat-checkbox>
                  </div>
                  <mat-option (click)="optionClickBrand()" *ngFor="let Branda of GetBranddata" [value]="Branda">{{Branda.Text}}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>



          </div>
        </div>


        <div class="col-sm-12 m-3">
          <div class="col-sm-12 pb25">
            <div class="col-sm-4  sub-section btn-wrap f-r">
              <button type="button" class="btn btn-warning-default" (click)="Cancel()">Cancel</button>
              <button class="success btn btn-primary  ml-2p" [disabled]="disSubmit" (click)="Submit(OpticalStockLedger)">Submit</button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-12" *ngIf="TableData">
      <div class="row">
        <h5 class="card-header  center"><label><b>Stock Ledger</b>  &nbsp;&nbsp;<b> for the period&nbsp;&nbsp;{{M_FromDate | date :'dd-MMM-y'}} &nbsp;&nbsp;to&nbsp;&nbsp; {{M_ToDate| date :'dd-MMM-y'}}</b></label></h5>
      </div>

      <div class="col-sm-6 pgtop20-0 mt-1p">
        <mat-label class="refcol">Branch : </mat-label>
        {{cmpname}}
      </div>

      <div class="col-sm-3 mt-1p">
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input (keyup)="applyFilter($event)" type="text" matInput placeholder="Search" autocomplete="off">
        </mat-form-field>
      </div>

      <div class="col-sm-1 mt-1p">
        <button mat-icon-button matTooltip="Export to Excel" [disabled]="disprint" (click)="fireEvent()"><img style="height:35px;width:45px;" src="assets/excel.svg" /></button>
      </div>

      <div class="col-sm-12">

        <div class="row heightAuto-300px">


          <table mat-table matSort [dataSource]="dataSource" class="custom-table withoutbackgroung search-table table-bordered" id="contentToConvert">


            <ng-container matColumnDef="Document">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Document Date & Time </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{element.DocumentDate | date: 'dd-MMM-y HH:mm'}}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="DocumentNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Document Number</th>
              <td mat-cell *matCellDef="let element; let i = index"> {{element.DocumentNo}}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="Type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
              <td mat-cell *matCellDef="let element; let i = index" [attr.rowspan]="getRowSpan('ID',i)" [style.display]="getRowSpan('ID', i) ? '' : 'none'">{{element.Type}}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="Store">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Store </th>
              <td mat-cell *matCellDef="let element; let i = index" [attr.rowspan]="getRowSpan('ID',i)" [style.display]="getRowSpan('ID', i) ? '' : 'none'">{{element.Store}}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="Brand">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
              <td mat-cell *matCellDef="let element; let i = index" [attr.rowspan]="getRowSpan('ID',i)" [style.display]="getRowSpan('ID', i) ? '' : 'none'">{{element.Brand}}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="Color">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Color</th>
              <td mat-cell *matCellDef="let element;let i = index">{{element.Color}}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="UOM">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> UOM </th>
              <td mat-cell *matCellDef="let element; let i = index">{{element.UOM}}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="OpeningBalance">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Opening Balance </th>
              <td mat-cell *matCellDef="let element; let i = index" [attr.rowspan]="getRowSpan('ID',i)" [style.display]="getRowSpan('ID', i) ? '' : 'none'">{{element.Openingstock | number : '1.2-2'}}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="ClosingBalance">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Closing Balance</th>
              <td mat-cell *matCellDef="let element;let i = index" [attr.rowspan]="getRowSpan('ID',i)" [style.display]="getRowSpan('ID', i) ? '' : 'none'">{{element.Closingstock | number : '1.2-2'}}</td>
              <td mat-footer-cell *matFooterCellDef><b>Total</b></td>
            </ng-container>

            <ng-container matColumnDef="Receipt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Receipt </th>
              <td mat-cell *matCellDef="let element; let i = index">{{element.Receipt}}</td>
              <td mat-footer-cell *matFooterCellDef><b>{{getTotalCost() | number : '1.2-2'}}</b></td>
            </ng-container>

            <ng-container matColumnDef="Issue">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Issue</th>
              <td mat-cell *matCellDef="let element;let i = index">{{element.Issue}}</td>
              <td mat-footer-cell *matFooterCellDef><b>{{getTotalCostissue() | number : '1.2-2'}}</b></td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns;sticky:true"></tr>
          </table>
        </div>
      </div>

    </div>




  </div>

  <div class="col-sm-12 m-3" *ngIf="TableData">
    <div class="col-sm-12 pb25">
      <div class="col-sm-4  sub-section btn-wrap f-r">
        <button type="button" class="btn btn-warning-default" (click)="close()">Close</button>
        <button type="button" class="success btn btn-primary  ml-2p" (click)="print()">Print</button>
      </div>
    </div>
  </div>


</form>



<div class="modal" role="dialog" [ngStyle]="{'display':accesspopup}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content accpop-0">
      <div class="modal-header">
        <h4 class="modal-title">Optical Stock Ledger - View Access</h4>
      </div>
      <div class="modal-body sltpop-0">
        <table align="center" class="custom-table withoutbackgroung search-table table-bordered">
          <thead>
            <tr>
              <th>Add</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>Export</th>
              <th>Print</th>

            </tr>
          </thead>
          <tbody>


            <tr *ngFor="let x of accessdata; index as i">
              <td><mat-checkbox [(checked)]="x.Add" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Edit" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Delete" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Export" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Print" disabled></mat-checkbox></td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" autofocus (click)="modalcloseAccessOk()">Ok</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" role="dialog" [ngStyle]="{'display': opprint}">
  <div class="example-box" cdkDrag>
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-11">
                <h4 class="modal-title">Information</h4>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-body">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-10">
                <p><strong> Do you want to Print?</strong></p>
              </div>
              <div class="col-sm-1">
              </div>
            </div>
          </div>
        </div>


        <div class="modal-footer">

          <button (click)="prints()" class="btn btn-primary">Yes</button>
          <button type="button" id="theButton" class="btn btn-success" data-dismiss="modal" (click)="printclose()" cdkFocusInitial>No</button>

        </div>


      </div>
    </div>
  </div>
</div>

<div id="demo" style="display:none">

  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div style="text-align:center"><strong>{{company}}</strong></div>
        <div style="text-align:center"><strong>{{address}}</strong></div>
        <div style="text-align:center"><strong>Phone No:{{phoneno}} &nbsp; Website:{{website}}</strong></div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div style="text-align:center"><strong>Optical Stock Ledger</strong></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12" style="margin-top:2%">

    <table #table mat-table [dataSource]="dataSource" class="custom-table withoutbackgroung search-table table-bordered" id="contentToConvert" #contentToConvert>


      <ng-container matColumnDef="Document">
        <th mat-header-cell *matHeaderCellDef> Document Date & Time </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{element.DocumentDate | date: 'dd-MMM-y HH:mm'}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="DocumentNumber">
        <th mat-header-cell *matHeaderCellDef>Document Number</th>
        <td mat-cell *matCellDef="let element; let i = index"> {{element.DocumentNo}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element; let i = index" [attr.rowspan]="getRowSpan('ID',i)" [style.display]="getRowSpan('ID', i) ? '' : 'none'">{{element.Type}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="Store">
        <th mat-header-cell *matHeaderCellDef> Store </th>
        <td mat-cell *matCellDef="let element; let i = index" [attr.rowspan]="getRowSpan('ID',i)" [style.display]="getRowSpan('ID', i) ? '' : 'none'">{{element.Store}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="Brand">
        <th mat-header-cell *matHeaderCellDef> Brand </th>
        <td mat-cell *matCellDef="let element; let i = index" [attr.rowspan]="getRowSpan('ID',i)" [style.display]="getRowSpan('ID', i) ? '' : 'none'">{{element.Brand}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="Color">
        <th mat-header-cell *matHeaderCellDef>Color</th>
        <td mat-cell *matCellDef="let element;let i = index">{{element.Color}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="UOM">
        <th mat-header-cell *matHeaderCellDef> UOM </th>
        <td mat-cell *matCellDef="let element; let i = index">{{element.UOM}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="OpeningBalance">
        <th mat-header-cell *matHeaderCellDef> Opening Balance </th>
        <td mat-cell *matCellDef="let element; let i = index" [attr.rowspan]="getRowSpan('ID',i)" [style.display]="getRowSpan('ID', i) ? '' : 'none'">{{element.Openingstock | number : '1.2-2'}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="ClosingBalance">
        <th mat-header-cell *matHeaderCellDef>Closing Balance</th>
        <td mat-cell *matCellDef="let element;let i = index" [attr.rowspan]="getRowSpan('ID',i)" [style.display]="getRowSpan('ID', i) ? '' : 'none'">{{element.Closingstock | number : '1.2-2'}}</td>
        <td mat-footer-cell *matFooterCellDef><b>Total</b></td>
      </ng-container>

      <ng-container matColumnDef="Receipt">
        <th mat-header-cell *matHeaderCellDef> Receipt </th>
        <td mat-cell *matCellDef="let element; let i = index">{{element.Receipt}}</td>
        <td mat-footer-cell *matFooterCellDef><b>{{getTotalCost() | number : '1.2-2'}}</b></td>
      </ng-container>

      <ng-container matColumnDef="Issue">
        <th mat-header-cell *matHeaderCellDef>Issue</th>
        <td mat-cell *matCellDef="let element;let i = index">{{element.Issue}}</td>
        <td mat-footer-cell *matFooterCellDef><b>{{getTotalCostissue() | number : '1.2-2'}}</b></td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns;sticky:true"></tr>
    </table>

  </div>
</div>

