<form #ReportssForm="ngForm" style="margin-top:1%">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12" style="border:2px solid gray;  border-radius:6px;">
        <div class="col-sm-12">
          <div class="row">

            <h1 align="center" style="margin-bottom:0px;text-align:center;border:2px solid gray;border-bottom-color:white;font-family:'Proxima Nova Semibold'">Consultation Summary</h1>

          </div>
        </div>

        <div class="col-sm-12" style="margin-top:1%">
          <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-5">
            </div>
            <div class="col-sm-1">
              <button class="btn btn-primary" (click)="Getformaccess()">View Access</button>
            </div>
          </div>
        </div>

        <div class="col-sm-12" style="margin-top:1%;">
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field appearance="outline" style="width:100%">
                <mat-label>From Date</mat-label>
                <input [(ngModel)]="M_FromDate" [max]="maxDate()" autocomplete="off" (dateChange)="CheckToDate();" name="FromDate" matInput [matDatepicker]="FromDate" placeholder="FromDate">
                <mat-datepicker-toggle matSuffix [for]="FromDate"></mat-datepicker-toggle>
                <mat-datepicker #FromDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field appearance="outline" style="width:100%">
                <mat-label>To Date</mat-label>
                <input [(ngModel)]="M_ToDate" [max]="maxDate()" autocomplete="off"
                       [min]="minToDate" (dateChange)="CheckToDate()" name="ToDate" matInput [matDatepicker]="ToDate" placeholder="ToDate">
                <mat-datepicker-toggle matSuffix [for]="ToDate"></mat-datepicker-toggle>
                <mat-datepicker #ToDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-1" style="margin-top:1%">
              <button type="button" class="btn btn-success" (click)="Submit(ReportssForm)">Submit</button>
            </div>
            <div class="col-sm-1" style="margin-top:1%">
              <button type="button" class="btn btn-danger" (click)="Cancel(ReportssForm)">Cancel</button>
            </div>
            <div class="col-sm-1" *ngIf="Buttonsss" style="margin-top:1%">
              <button mat-raised-button matTooltip="Export to PDF" id="cmd" (click)="modalSuccesPrintOk()"><i class="fa fa-print" style="color:cornflowerblue;font-size:36px"></i></button>
            </div>
            <div class="col-sm-1" *ngIf="Buttonsss" style="margin-top:1%">
              <button mat-icon-button matTooltip="Export to Excel" (click)="fireEvent()"><img style="height:35px;width:45px;" src="assets/excel.svg" /></button>

            </div>
            <!--<div class="col-sm-1" *ngIf="Search">
        <mat-form-field appearance="outline" style="margin-left:1%; font-size: 11px">
          <mat-label>Search Criteria</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Criteria">
        </mat-form-field>
      </div>
      <div class="col-sm-1" *ngIf="Excel" style="margin-top:1%">
        <button mat-raised-button matTooltip="Export to PDF" id="cmd" (click)="modalSuccesPrintOk()"><i class="fa fa-print" style="color:cornflowerblue;font-size:36px"></i></button>
      </div>
      <div class="col-sm-1" *ngIf="Pdf" style="margin-top:1%">
        <button mat-raised-button matTooltip="Export to Excel" (click)="fireEvent()"><img style="height:35px;width:45px;" src="assets/excel.svg" /></button>
      </div>-->

          </div>




        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
            </div>



            <div class="col-sm-6" style="border:2px solid #51b8f2;margin-top: 7px; border-radius: 9px;" *ngIf="TableData">
              <div class="row">
                <h1 style="text-align:center;background-color: #51b8f2;color:white;margin-bottom:0px;margin-top:0px"><label><b>Consultation Summary</b>&nbsp;&nbsp;<b style="font-size:17px"> for the period&nbsp;&nbsp;{{this.M_FromDate|  date: 'dd-MMM-y'}} &nbsp;to&nbsp; {{this.M_ToDate|  date: 'dd-MMM-y'}}</b></label></h1>
              </div>
              <div class="row">
                <div class="col-sm-12" #table style="position: sticky;background-color: white;overflow:auto;height:241px; margin-top:10px">

                  <table mat-table matSort [dataSource]="dataSource" id="contentToConvert" class="table table-bordered" #contentToConvert style="overflow:auto">

                    <ng-container matColumnDef="SNO">
                      <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;width:119px;text-align:center">S No</th>
                      <td mat-cell *matCellDef="let element ;let i = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center">{{i+1}}  </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>

                    <ng-container matColumnDef="Date">
                      <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;width:156px;text-align:left">Visit Date</th>
                      <td mat-cell *matCellDef="let element ;let i = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:left">{{element.Date | date: 'dd-MMM-y'}}  </td>
                      <td mat-footer-cell *matFooterCellDef style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:left;color:black;text-align:right"><b>Total Amount</b></td>
                    </ng-container>

                    <ng-container matColumnDef="NoOfPatients">
                      <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;width: 119px;text-align:center">No of Patients</th>
                      <td mat-cell *matCellDef="let element;let id = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center" class="grab" (click)="ViewPatientDetails(element)"> {{element.NoOfPat }} </td>
                      <!--<td mat-footer-cell *matFooterCellDef style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:right;color:black"><b>{{getNoOfPat()}}</b></td>-->
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>

                    <ng-container matColumnDef="Charges">
                      <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;width: 129px;text-align:center">Professional Charges</th>
                      <td mat-cell *matCellDef="let element;let id = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:right"> {{element.Charges | number : '1.2-2'}} </td>
                      <td mat-footer-cell *matFooterCellDef style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:right;color:black"><b>{{getProfessional()|currency:Country2}}</b></td>

                    </ng-container>



                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                    <tr mat-row *matRowDef="let row;  let even = even;columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                  </table>
                </div>

                <div class="col-sm-12" [hidden]="Page">
                  <div class="row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-4">
                      <mat-paginator [pageSizeOptions]="[500,1000,2000]" showFirstLastButtons></mat-paginator>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="col-sm-3">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>





<div class="modal" role="dialog" [ngStyle]="{'display':modalpopup}" style="height:700px;">
  <div class="modal-dialog modal-lg" style="width:70%;padding-top:5%;">

    <div class="modal-content">

      <div class="modal-header" style="background-color:#51b8f2;color:white;">
        <button type="button" class="close" data-dismiss="modal" (click)="modalpopupclose()">&times;</button>
        <!--<h5 class="modal-title" style="font-family:'Proxima Nova Semibold';font-size:14px;text-align:center">
          <strong>Consultation Summary</strong>
        </h5>-->
      </div>

      <div class="modal-body">
        <div style="height:400px">


          <div class="row">
            <div class="col-sm-12">
              <div class="row">

                <div class="col-sm-4">

                </div>
                <div class="col-sm-4">
                  <mat-label style="font-family:'Proxima Nova Semibold';font-size:14px;color:blue">Consultation summary on : </mat-label>
                  {{vdate | date: 'dd-MMM-y'}}
                </div>
                <div class="col-sm-4">
                  <button mat-raised-button matTooltip="Export to PDF" id="cmd" (click)="modalSuccesPrint()"><i class="fa fa-print" style="color:cornflowerblue;font-size:36px"></i></button>

                </div>

              </div>
            </div>

            <!--<div class="col-sm-2" style="margin-top:10px">
            </div>-->
            <div class="col-sm-12" #table style="position: sticky;background-color: white;overflow:auto;height:241px; margin-top:10px">

              <table mat-table matSort [dataSource]="dataSources" id="contentToConvert" class="table table-bordered" #contentToConvert style="overflow:auto">

                <ng-container matColumnDef="SNO">
                  <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;width:119px;text-align:center">S No</th>
                  <td mat-cell *matCellDef="let element ;let i = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center">{{i+1}}  </td>
                  <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>

                <ng-container matColumnDef="DateTime">
                  <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;width:156px;text-align:left">Visit Date & Time</th>
                  <td mat-cell *matCellDef="let element ;let i = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:left">{{element.Dttime | date: 'dd-MMM-y HH:mm'}}  </td>
                  <td mat-footer-cell *matFooterCellDef style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:left;color:black;text-align:right"><b>Total Amount</b></td>
                </ng-container>

                <ng-container matColumnDef="UIN">
                  <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;width: 119px;text-align:left">UIN</th>
                  <td mat-cell *matCellDef="let element;let id = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:left"> {{element.uin }} </td>
                  <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>

                <ng-container matColumnDef="Name">
                  <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;width: 119px;text-align:left">Patient Name</th>
                  <td mat-cell *matCellDef="let element;let id = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:left"> {{element.name }} </td>
                  <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>

                <ng-container matColumnDef="DocName">
                  <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;width: 119px;text-align:left">Consulted By</th>
                  <td mat-cell *matCellDef="let element;let id = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:left"> {{element.dname }} </td>
                  <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>

                <ng-container matColumnDef="Charges">
                  <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;width: 129px;text-align:center">Professional Charges</th>
                  <td mat-cell *matCellDef="let element;let id = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:right"> {{element.Charges | number : '1.2-2'}} </td>
                  <td mat-footer-cell *matFooterCellDef style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:right;color:black"><b>{{getProfessionall() |currency:Country2}}</b></td>

                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumnss;sticky:true"></tr>
                <tr mat-row *matRowDef="let row;  let even = even;columns: displayedColumnss;" [ngClass]="{gray: even}"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumnss; sticky: true"></tr>
              </table>
            </div>
            <!--<div class="col-sm-2" style="margin-top:10px">
            </div>-->
          </div>

        </div>


      </div>


    </div>

  </div>

</div>













<div id="printss" style="display:none">

  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-6">
        <label style="font-size:16px"><strong>{{cname}}</strong> </label>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-6"> <label> {{caddres}}</label></div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"> <label>Tel-{{cph}},- {{cwe}}</label></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"><label style="text-align:center"></label></div>
      <div class="col-sm-4"></div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"> <strong>Consultation Summary</strong></div>
      <div class="col-sm-4"></div>
    </div>
  </div>

  <hr>



  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3">
      </div>



      <div class="col-sm-6" style="border:2px solid #51b8f2;margin-top: 7px; border-radius: 9px;" *ngIf="TableData">
        <div class="row">
          <h3 style="text-align:center;background-color: #51b8f2;color:white;margin-bottom:0px;margin-top:0px;font-size:14px"><label><b>Consultation Summary</b>&nbsp;&nbsp;<b style="font-size:14px"> for the period&nbsp;&nbsp;{{this.M_FromDate|  date: 'dd-MMM-y'}} &nbsp;to&nbsp; {{this.M_ToDate|  date: 'dd-MMM-y'}}</b></label></h3>
        </div>
        <div class="row">
          <div class="col-sm-12" #table style="position: sticky;background-color: white;overflow:auto;height:241px; margin-top:10px">

            <table mat-table matSort [dataSource]="dataSource" id="contentToConvert" class="table table-bordered" #contentToConvert style="overflow:auto">

              <ng-container matColumnDef="SNO">
                <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;width:119px;text-align:center">S No</th>
                <td mat-cell *matCellDef="let element ;let i = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center">{{i+1}}  </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>

              <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;width:156px;text-align:left">Visit Date</th>
                <td mat-cell *matCellDef="let element ;let i = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:left">{{element.Date | date: 'dd-MMM-y'}}  </td>
                <td mat-footer-cell *matFooterCellDef style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:left;color:black;text-align:right"><b>Total Amount</b></td>
              </ng-container>

              <ng-container matColumnDef="NoOfPatients">
                <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;width: 119px;text-align:center">No of Patients</th>
                <td mat-cell *matCellDef="let element;let id = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center" class="grab" (click)="ViewPatientDetails(element)"> {{element.NoOfPat }} </td>
                <!--<td mat-footer-cell *matFooterCellDef style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:right;color:black"><b>{{getNoOfPat()}}</b></td>-->
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>

              <ng-container matColumnDef="Charges">
                <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;width: 129px;text-align:center">Professional Charges</th>
                <td mat-cell *matCellDef="let element;let id = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:right"> {{element.Charges | number : '1.2-2'}} </td>
                <td mat-footer-cell *matFooterCellDef style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:right;color:black"><b>{{getProfessional() |currency:Country2}}</b></td>

              </ng-container>



              <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
              <tr mat-row *matRowDef="let row;  let even = even;columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
            </table>
          </div>

          
        </div>
      </div>



      <div class="col-sm-3">
      </div>
    </div>
  </div>

</div>




<div id="printsss" style="display:none">

  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-6">
        <label style="font-size:16px"><strong>{{cname}}</strong> </label>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-6"> <label> {{caddres}}</label></div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"> <label>Tel-{{cph}},- {{cwe}}</label></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"><label style="text-align:center"></label></div>
      <div class="col-sm-4"></div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"> <strong>Consultation Summary</strong></div>
      <div class="col-sm-4"></div>
    </div>
  </div>

  <hr>

  <div class="col-sm-12">
    <div class="row">

      <div class="col-sm-4">

      </div>
      <div class="col-sm-4">
        <mat-label style="font-family:'Proxima Nova Semibold';font-size:17px;color:blue"><strong>Consultation summary on : </strong></mat-label>
        {{vdate | date: 'dd-MMM-y'}}
      </div>
      <div class="col-sm-4">
        <button mat-raised-button matTooltip="Export to PDF" id="cmd" (click)="modalSuccesPrint()"><i class="fa fa-print" style="color:cornflowerblue;font-size:36px"></i></button>

      </div>

    </div>
  </div>

  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-1">
      </div>



      <div class="col-sm-10" #table style="position: sticky;background-color: white;overflow:auto;height:241px; margin-top:10px">

        <table mat-table matSort [dataSource]="dataSources" id="contentToConvert" class="table table-bordered" #contentToConvert style="overflow:auto">

          <ng-container matColumnDef="SNO">
            <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;width:119px;text-align:center">S No</th>
            <td mat-cell *matCellDef="let element ;let i = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center">{{i+1}}  </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="DateTime">
            <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;width:156px;text-align:left">Visit Date & Time</th>
            <td mat-cell *matCellDef="let element ;let i = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:left">{{element.Dttime | date: 'dd-MMM-y HH:mm'}}  </td>
            <td mat-footer-cell *matFooterCellDef style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:left;color:black;text-align:right"><b>Total Amount</b></td>
          </ng-container>

          <ng-container matColumnDef="UIN">
            <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;width: 119px;text-align:left">UIN</th>
            <td mat-cell *matCellDef="let element;let id = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:left"> {{element.uin }} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;width: 119px;text-align:left">Patient Name</th>
            <td mat-cell *matCellDef="let element;let id = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:left"> {{element.name }} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="DocName">
            <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;width: 119px;text-align:left">Consulted By</th>
            <td mat-cell *matCellDef="let element;let id = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:left"> {{element.dname }} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="Charges">
            <th mat-header-cell *matHeaderCellDef style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;height:40px;width: 129px;text-align:center">Professional Charges</th>
            <td mat-cell *matCellDef="let element;let id = index;" style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:right"> {{element.Charges | number : '1.2-2'}} </td>
            <td mat-footer-cell *matFooterCellDef style="color:#212121;font-family:'Proxima Nova Semibold';font-size:14px;text-align:right;color:black"><b>{{getProfessionall() |currency:Country2}}</b></td>

          </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumnss;sticky:true"></tr>
          <tr mat-row *matRowDef="let row;  let even = even;columns: displayedColumnss;" [ngClass]="{gray: even}"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumnss; sticky: true"></tr>
        </table>
      </div>



      <div class="col-sm-1">
      </div>
    </div>
  </div>

</div>



<div class="modal" role="dialog" [ngStyle]="{'display':accesspopup}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="width: 400px;">
      <div class="modal-header">
        <h4 class="modal-title">Consultation Summary - View Access</h4>
      </div>
      <div class="modal-body" style="height:40px;margin-top:-10px;">
        <table align="center" style="border-left:3px solid#51b8f2;font-family:'Proxima Nova';font-size:14px;" class="table table-bordered">
          <thead>
            <tr>
              <th style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center;height:40px">Add</th>
              <th style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center;height:40px">Edit</th>
              <th style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center;height:40px">Delete</th>
              <th style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center;height:40px">Export</th>
              <th style="background-color:#0c3e8f;color:white;font-family:'Proxima Nova Semibold';font-size:14px;text-align:center;height:40px">Print</th>

            </tr>
          </thead>
          <tbody>


            <tr *ngFor="let x of accessdata; index as i">
              <td style="text-align:center;"><mat-checkbox [(checked)]="x.Add" disabled></mat-checkbox></td>
              <td style="text-align:center;"><mat-checkbox [(checked)]="x.Edit" disabled></mat-checkbox></td>
              <td style="text-align:center;"><mat-checkbox [(checked)]="x.Delete" disabled></mat-checkbox></td>
              <td style="text-align:center;"><mat-checkbox [(checked)]="x.Export" disabled></mat-checkbox></td>
              <td style="text-align:center;"><mat-checkbox [(checked)]="x.Print" disabled></mat-checkbox></td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer" style="margin-top:20%">
        <button class="btn btn-success" data-dismiss="modal" autofocus (click)="modalcloseAccessOk()">Ok</button>
      </div>
    </div>
  </div>
</div>
