<!--<form #SpecialityForm="ngForm" name="SpecialityForm" (keydown.enter)="$event.preventDefault()" novalidate>
  <div class="row">
    <h5 align="center" class="card-header bg-success text-white rounded-top">
      <b>Speciality</b>
    </h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4">
        <mat-form-field appearance="outline" style="margin-left:20px">
          <mat-label>Enter Doctor Speciality</mat-label>
          <input name="specs" [(ngModel)]="specs" matInput placeholder="Enter Doctor Speciality" required>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <button type="button" (click)="Dialogclose()" class="success btn btn-defaultprimary">Close</button>
      <button type="button" (click)="AddSpecial(SpecialityForm)" class="btn btn-warning-primary">Submit</button>
    </div>
  </div>
</form>-->

