<!--hjhhgjhjgjhghj-->


<form #OpticalprescriptionForm="ngForm">


  <div class="col-sm-12 borfiglau-0">

    <!--<div class="card-header center">
      <h5> Optical Prescription</h5>
    </div>-->

    <div class="col-sm-12 mph-0">
      <div class="row mph-0">
        <div class="col-sm-12 mph-0">
          <div class="col-sm-6 mph-0 pb20">
            <span class="uinborder">
              <strong>{{uin}} / {{name}} / {{age}} / {{gender}}</strong>
            </span>
          </div>

          <div class="col-sm-2 mph-0  content-right pb20">
            <button class="btn btn-primary" (click)="Getformaccess()"> View Access</button>
          </div>

          <div class="col-sm-2 mph-0 f-r content-right pb20">
            <button (click)="Clickopticalprescription()" [disabled]="Disabled" class="btn-text grab f-r" data-toggle="tooltip" title="Optical Prescription">
              <i class="fas fa-info-circle"> </i> Help
            </button>
          </div>

          <div class="col-sm-4 mph-0 f-r content-right pb20">
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 mt-3p">
      <div class="row">


        <div class="tab-content tab-wrap">
          <div id="ocular" class="tab-pane fade in active">
            <div class="row">
              <div class="col-sm-12">
                <div class="card mb-3">
                  <h5 class="card-header">
                    Optical prescription
                  </h5>
                  <div class="card-body">



                    <div class="row heightAuto-150px">

                      <table class="custom-table vawithoutbackgroung search-table table-bordered">

                        <tr>
                          <th colspan="6">OD</th>
                          <th colspan="6">OS</th>
                          <th rowspan="3">BPD</th>
                          <th colspan="2">MPD</th>
                          <th rowspan="3">Remarks</th>

                        </tr>

                        <tr>
                          <th colspan="4">Distance Vision</th>
                          <th colspan="2">Near Vision</th>
                          <th colspan="4">Distance Vision</th>
                          <th colspan="2">Near Vision</th>
                          <th colspan="1" class="acc">OD</th>
                          <th colspan="1" class="acc">OS</th>
                        </tr>



                        <tr>

                          <th>SPH</th>
                          <th>CYL</th>
                          <th>AXIS</th>
                          <th>V/A</th>
                          <th>SPH</th>
                          <th>V/A</th>
                          <th>SPH</th>
                          <th>CYL</th>
                          <th>AXIS</th>
                          <th>V/A</th>
                          <th>SPH</th>
                          <th>V/A</th>
                          <th colspan="1" class="accw"></th>
                          <th colspan="1"></th>
                        </tr>

                        <tbody>
                          <tr>

                            <td>{{SPHACC1}}</td>
                            <td>{{CYLACC1}}</td>
                            <td>{{AXISACC1}}</td>
                            <td>{{VA}}</td>
                            <td>{{SPHNV1}}</td>
                            <td>{{VANVV}}</td>
                            <td>{{SPHTAN1}}</td>
                            <td>{{CYLTAN1}}</td>
                            <td>{{AXISTAN1}}</td>
                            <td>{{VATANA1}}</td>
                            <td>{{SPHNVR1}}</td>
                            <td>{{VANVRR}}</td>
                            <td>{{PDD}}</td>
                            <td>{{MPD}}</td>
                            <td>{{MPD1}}</td>
                            <td>{{Remarksacc}}</td>

                          </tr>
                        </tbody>

                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="col-sm-12 m-3">
    <div class="col-sm-12 pb25">
      <div class="col-sm-4  sub-section btn-wrap f-r">
        <button class="btn btn-primary" [disabled]="isDisabled" (click)="print()">Print</button>
      </div>
    </div>
  </div>



</form>


<div class="modal" role="dialog" [ngStyle]="{'display': opprint}">
  <div class="example-box" cdkDrag>
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-11">
                <h4 class="modal-title">Information</h4>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-body">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-10">
                <p><strong> Do you want to Print?</strong></p>
              </div>
              <div class="col-sm-1">
              </div>
            </div>
          </div>
        </div>


        <div class="modal-footer">

          <button (click)="prints()" class="btn btn-primary">Yes</button>
          <button type="button" id="theButton" class="btn btn-success" data-dismiss="modal" (click)="printclose()" cdkFocusInitial>No</button>

        </div>


      </div>
    </div>
  </div>
</div>


<div id="demo" style="display:none">

  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div style="text-align:center"><strong>{{comapnyy}}</strong></div>
        <div style="text-align:center"><strong>{{Addressss}}</strong></div>
        <div style="text-align:center"><strong>Phone No:{{phonesss}} &nbsp; Website:{{webbbb}}</strong></div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div style="text-align:center"><strong>Optical Prescription</strong></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12" style="margin-top:2%">
    <div class="row">

      <div class="col-sm-4">
        <mat-label style="font-family:'Proxima Nova Semibold'"><strong>Patient ID &nbsp;</strong></mat-label>
        <mat-label><strong>:&nbsp;</strong></mat-label>
        <mat-label>{{UINNOO}}</mat-label>
      </div>

      <div class="col-sm-4">
        <mat-label style="font-family:'Proxima Nova Semibold'"><strong>Patient Name&nbsp;</strong></mat-label>
        <mat-label><strong>:&nbsp;</strong></mat-label>
        <mat-label>{{patientNamee}}</mat-label>
      </div>

      <div class="col-sm-4">
        <mat-label style="font-family:'Proxima Nova Semibold'"><strong>Age&nbsp; /&nbsp; Gender&nbsp;</strong></mat-label>
        <mat-label><strong>:&nbsp;</strong></mat-label>
        <mat-label>{{patientagee}}&nbsp;/&nbsp;{{patientgenderr}}</mat-label>
      </div>

    </div>
  </div>

  <div class="col-sm-12" style="margin-top:2%">
    <div class="row">

      <div class="col-sm-4">
        <mat-label style="font-family:'Proxima Nova Semibold'"><strong>Date&nbsp;</strong></mat-label>
        <mat-label><strong>:&nbsp;</strong></mat-label>
        <mat-label>{{ predate | date:"dd-MMM-y" }}</mat-label>
      </div>

    </div>
  </div>

  <div class="col-sm-12" style="margin-top:30px">

    <table class="table table-bordered" border="1" style="white-space: nowrap;border-collapse:collapse;width:100%">
      <thead>
        <tr>
          <th rowspan="2" colspan="3">OD withRX</th>
          <th>DV</th>
          <th>NV</th>

          <th rowspan="2" colspan="2">OS withRX</th>
          <th>DV</th>
          <th>NV</th>
        </tr>
        <tr>

          <td style="text-align:center">{{vaod}}</td>
          <td style="text-align:center"> {{vaodd}}</td>
          <td style="text-align:center"> {{vaos}}</td>
          <td style="text-align:center"> {{vaoss}}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th rowspan="2">DV</th>
          <th>SPH</th>
          <th>CYL</th>
          <th>AXIS</th>
          <th>V/A</th>
          <th>SPH</th>
          <th>CYL</th>
          <th>AXIS</th>
          <th>V/A</th>
        </tr>
        <tr>
          <td scope="row" style="text-align:center">{{sphod}}</td>
          <td style="text-align:center"> {{cylod}}</td>
          <td style="text-align:center"> {{axisod}}</td>
          <td style="text-align:center"> {{vaod}}</td>
          <td style="text-align:center"> {{sphos}}</td>
          <td style="text-align:center"> {{cylos}}</td>
          <td style="text-align:center"> {{axisos}}</td>
          <td style="text-align:center"> {{vaos}}</td>
        </tr>
        <tr>
          <th scope="row">NV</th>
          <td style="text-align:center"> {{sphodd}}</td>
          <td></td>
          <td></td>
          <td style="text-align:center"> {{vaodd}}</td>
          <td style="text-align:center"> {{sphoss}}</td>
          <td></td>
          <td></td>
          <td style="text-align:center"> {{vaoss}}</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-sm-12" style="margin-top:2%">
    <div class="row">

      <div class="col-sm-3">

        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <mat-label style="font-family:'Proxima Nova Semibold'"><strong>Remarks</strong></mat-label>
            </div>
          </div>
          <div class="col-sm-6">
            <mat-label>{{remarks}}</mat-label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <mat-label style="font-family:'Proxima Nova Semibold'"><strong>Binocular PD</strong></mat-label>
            </div>
          </div>
          <div class="col-sm-6">
            <mat-label>{{pd}}&nbsp;MM</mat-label>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <mat-label style="font-family:'Proxima Nova Semibold'"><strong>Monocular PD</strong></mat-label>
            </div>
          </div>
          <div class="col-sm-6">
            <mat-label>OD&nbsp;{{PMPD}}&nbsp;MM&nbsp; OS&nbsp;{{PMPD1}}&nbsp;MM</mat-label>
          </div>
        </div>

      </div>

      <div class="col-sm-3">

      </div>

      <div class="col-sm-3">

        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <mat-label style="font-family:'Proxima Nova Semibold'"><strong>Patient Allergy</strong></mat-label>
            </div>
          </div>
          <div class="col-sm-6">
            <mat-label>{{alle}}</mat-label>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <mat-label style="font-family: 'Proxima Nova Semibold'">
                <strong>Prescribed by</strong>
              </mat-label>
            </div>
          </div>
          <div class="col-sm-6">
            <mat-label>{{doname}}</mat-label>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <mat-label style="font-family:'Proxima Nova Semibold'">
                <strong>Registration No</strong>
              </mat-label>
            </div>
          </div>
          <div class="col-sm-6">
            <mat-label>{{doregno}}</mat-label>
          </div>
        </div>

      </div>

    </div>
  </div>


</div>



<div class="modal" role="dialog" [ngStyle]="{'display':accesspopup}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Optical Prescription - View Access</h4>
      </div>
      <div class="modal-body">
        <table class="custom-table withoutbackgroung search-table table-bordered">
          <thead>
            <tr>
              <th>Add</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>Export</th>
              <th>Print</th>

            </tr>
          </thead>
          <tbody>


            <tr *ngFor="let x of accessdata; index as i">
              <td><mat-checkbox [(checked)]="x.Add" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Edit" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Delete" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Export" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Print" disabled></mat-checkbox></td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" autofocus (click)="modalcloseAccessOk()">Ok</button>
      </div>
    </div>
  </div>
</div>

