<form #CampMaster="ngForm" name="CampMaster" (keydown.enter)="$event.preventDefault()" novalidate>
  <div class="col-sm-12 formborder">
    <div class="row">
      <h6>Camp Master</h6>
    </div>
    <div class="col-sm-12 mph-0">
      <div class="row mph-0">
        <div class="col-sm-12 mph-0">
          <div class="col-sm-6 mph-0 pb20">
            <!--<span class="uinborder">
              <strong>{{Getuin}} / {{Getname}} / {{Getage}} / {{Getgender}}</strong>
            </span>-->
          </div>
          <div class="col-sm-2 mph-0 pb20">

            <!--<label>Allergy&nbsp;:<span class="uinborder">{{allergys}}</span></label>-->
          </div>
          <div class="col-sm-4 mph-0 f-r content-right pb20">
            <button class="btn-text" (click)="Getformaccess()"><i class="fas fa-eye"></i> View Access</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3">
          <div class="row">
            <div class="col-sm-8">
              <mat-form-field appearance="outline" class="width-135p">
                <mat-label>Camp Name</mat-label>
                <input autocomplete="off" required [(ngModel)]="M_CampName" name="Name" (keypress)="nameField($event)" matInput placeholder="" maxlength="100">
              </mat-form-field>
            </div>
            <div class="col-sm-1  ml-15p">
              <button mat-icon-button [disabled]="isNextupdate && isNextDelete" type="button">
                <mat-icon [disabled]="isNextupdate && isNextDelete" (click)="Searchcamp()" class="cursor" data-toggle="tooltip" title="Search">search</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline">
            <mat-label>Camp From</mat-label>
            <input [(ngModel)]="M_campfrom" required name="cfrom" [min]="MinDateQ" matInput [matDatepicker]="DatePickercfrom" placeholder="Date">
            <mat-datepicker-toggle matSuffix [for]="DatePickercfrom"></mat-datepicker-toggle>
            <mat-datepicker #DatePickercfrom></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline">
            <mat-label>Camp To</mat-label>
            <input [(ngModel)]="M_campto" required name="M_camptos" [min]="MinDateQ" matInput [matDatepicker]="DatePickercto" placeholder="Date">
            <mat-datepicker-toggle matSuffix [for]="DatePickercto"></mat-datepicker-toggle>
            <mat-datepicker #DatePickercto></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline">
            <mat-label>Organized by</mat-label>
            <mat-select autocomplete="off" required [(ngModel)]="M_oragnizedby" name="M_oragnizedbys" placeholder="">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let City of Orgtypedata" [value]="City.Value">{{City.Text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <mat-select required [(ngModel)]="Cityy" name="Cityy" (ngModelChange)="CityChange()">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let City of Cityname" [value]="City.Value">{{City.Text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <mat-select [(ngModel)]="M_location" name="Locations" [disabled]="disableLOC">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let Location of Locationname" [value]="Location.Value">{{Location.Text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline">
            <mat-label>State</mat-label>
            <strong>
              <input required [(ngModel)]="State" name="State" matInput placeholder="State Name" disabled>
            </strong>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <strong>
              <input required [(ngModel)]="Country" name="Country" matInput placeholder="Country Name" disabled>
            </strong>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <mat-form-field appearance="outline" *ngIf="hideorgactivecoluimn">
            <mat-label>Is Active</mat-label>
            <mat-select [(ngModel)]="M_IsActiveOrg" name="Active">
              <mat-option>Select</mat-option>
              <mat-option value="true">Yes</mat-option>
              <mat-option value="false">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-sm-12 pb25">
      <div class="content-right sub-section btn-wrap">
        <button type="button" class="btn btn-warning-default" (click)="cancel()"> Cancel </button>
        <button *ngIf="hidesubmitcoluimn" [disabled]="isNextButton" class="success btn btn-primary" (click)="Submitform(CampMaster)"> Submit </button>
        <button *ngIf="hideorgactivecoluimn" [disabled]="isNextButton" class="success btn btn-primary" (click)="Updatefulldata(CampMaster)"> Submit </button>
      </div>
    </div>
  </div>
</form>


<div class="modal cust-model" role="dialog" [ngStyle]="{'display':accesspopup}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="modalcloseAccessOk()">&times;</button>
        <h4 class="modal-title text-left">Camp Master - View Access</h4>
      </div>
      <div class="modal-body">
        <table align="center" class="table custom-table">
          <thead>
            <tr>
              <th>Add</th>
              <th>Update</th>
              <th>Delete</th>
              <th>Export</th>
              <th>Print</th>

            </tr>
          </thead>
          <tbody>


            <tr *ngFor="let x of accessdata; index as i">
              <td>
                <mat-checkbox [(checked)]="x.Add" disabled></mat-checkbox>
              </td>
              <td>
                <mat-checkbox [(checked)]="x.Edit" disabled></mat-checkbox>
              </td>
              <td>
                <mat-checkbox [(checked)]="x.Delete" disabled></mat-checkbox>
              </td>
              <td>
                <mat-checkbox [(checked)]="x.Export" disabled></mat-checkbox>
              </td>
              <td>
                <mat-checkbox [(checked)]="x.Print" disabled></mat-checkbox>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" autofocus (click)="modalcloseAccessOk()">Ok</button>
      </div>
    </div>
  </div>
</div>




<div class="modal" role="dialog" [ngStyle]="{'display':Orgpopblock}" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Camp Details</h6>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label>Search..</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Search">
            </mat-form-field>
          </div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <label style="left:1%">
              <button (click)="ConvertPDF()" class="btn btn-primary-default btn-Pdf mlr10"><i class="far fa-file-pdf"></i> Export to PDF</button>
              <button (click)="ConvertEXCEL()" class="btn btn-primary-default btn-Excel"><i class="far fa-file-excel"></i> Export to Excel</button>
            </label>
          </div>


        </div>
        <div class="row">
          <table mat-table matSort [dataSource]="dataSourceorg" class="custom-table withoutbackgroung search-table table-bordered" id="customersone">
            <ng-container matColumnDef="SNo">
              <th mat-header-cell *matHeaderCellDef class="width-7p pr10 remove-this">Action</th>
              <td mat-cell *matCellDef="let element" class="remove-this">
                <mat-checkbox (click)="selectparticularorganization(element)"></mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="orgName">
              <th mat-header-cell *matHeaderCellDef>Camp Name</th>
              <td mat-cell *matCellDef="let element">{{element.CampMastreName}} </td>
            </ng-container>
            <ng-container matColumnDef="orgnizationtype">
              <th mat-header-cell *matHeaderCellDef>Camp Fromdate</th>
              <td mat-cell *matCellDef="let element">{{element.CampMastrefrom}} </td>
            </ng-container>
            <ng-container matColumnDef="add1">
              <th mat-header-cell *matHeaderCellDef>Camp Todate</th>
              <td mat-cell *matCellDef="let element">{{element.CampMastreto}} </td>
            </ng-container>
            <ng-container matColumnDef="add2">
              <th mat-header-cell *matHeaderCellDef>Organized by</th>
              <td mat-cell *matCellDef="let element">{{element.CampMastreorganisedby}} </td>
            </ng-container>
            <ng-container matColumnDef="city">
              <th mat-header-cell *matHeaderCellDef>City</th>
              <td mat-cell *matCellDef="let element">{{element.CampMastrecity}} </td>
            </ng-container>
            <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef>State</th>
              <td mat-cell *matCellDef="let element">{{element.CampMastrestate}} </td>
            </ng-container>
            <ng-container matColumnDef="country">
              <th mat-header-cell *matHeaderCellDef>Country</th>
              <td mat-cell *matCellDef="let element">{{element.CampMastrecountry}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef class="remove-this">Status</th>
              <td mat-cell *matCellDef="let element" class="remove-this">{{element.Normalactive}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsorg;sticky: true"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumnsorg" [ngClass]="{gray: even}"></tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-danger" data-dismiss="modal" (click)="modalcloseOk()">Close</button>
      </div>
    </div>
  </div>
</div>
